[2020-07-07 16:11] tchaton opened #1 "TGN"
https://arxiv.org/abs/2006.10637

[2020-07-08 15:28] benedekrozemberczki commented on #1
Hi there Thomas!

This paper is already on my backlog ( approx. 50 papers by now :D :D :') ). The package is going to be part of an ML system design paper which I plan to submit in November-December. If you want to join in the development I am happy to add you to the project and the paper as a co-author.

Regards,

Benedek

[2020-07-08 15:28] #1 closed

[2020-07-08 18:40] tchaton commented on #1
Hey @benedekrozemberczki,

Sounds interesting ! I will see if I can help you out.

I already have my hand pretty packed with https://github.com/nicolas-chaulet/torch-points3d for which I am of the main author.

I have sent you an invitation to join our Slack related to project around Pytorch Geometric.

Best regards,
Thomas Chaton.

[2020-08-04 08:16] xiaochehe opened #2 "The usage difference between torch.nn.LSTM() and torch_geometric_temporal.nn.conv.GCLSTM()?"
Hi, I want to use  torch_geometric_temporal.nn.conv.GCLSTM() in my project and take the place of  torch.nn.LSTM(). But I do not know how to do. I want to know the input and output, or other things that are different between torch.nn.LSTM() and torch_geometric_temporal.nn.conv.GCLSTM().

[2020-08-04 08:49] benedekrozemberczki commented on #2
The read the docs is quite helpful, it has everything about the data types needed and references the papers. Could you star the repo and hit the follow button?

[2020-08-04 08:49] #2 closed

[2020-08-14 09:54] benedekrozemberczki commented on #2
Added an example.

Benedek

[2020-08-14 09:58] xiaochehe commented on #2
That helps me  a lot, Thank you!

[2020-08-24 10:17] Fatima-200159617 opened #3 "Evolve GCN H example"
Hello,
I have a question regarding the example you provided. As per my understanding the example is showing how using EvolveGCN-H
I am new to temporal graph neural, and what I got from EvolveGCN paper is that at each timestep the model will have a different snapshot of the graph but in the example only a static graph is given as an input to the model. Could you please advice and help on how it is

[2020-08-24 10:25] benedekrozemberczki commented on #3
You could use a for loop to iterate over the graphs and feed in new ones.

On Mon, 24 Aug 2020 at 10:17, Fatima-200159617 <notifications@github.com>
wrote:

[2020-08-24 10:31] Fatima-200159617 commented on #3
Thanks a lot for your quick response. Could you please share any examples.

[2020-08-24 17:58] benedekrozemberczki commented on #3
The other example in the examples folder might be helpful

[2020-08-25 22:11] benedekrozemberczki commented on #3
I have added an example, take a look. Please star the repo if you find it useful and follow me on github.

[2020-08-25 22:11] #3 closed

[2020-08-26 05:39] Fatima-200159617 commented on #3
Thanks a lot that's really helpful. I just have a question, since EvolveGCN is using GRU/LSTM aren't we supposed to specify the sequence length (number of timesteps) as one of the parameters as we do when implementing any GRU/LSTM model. If that's the case what is the format of the input given that each timestep should be a different graph with new nodes or edges.
Another question I can see that t

[2020-08-26 08:02] benedekrozemberczki commented on #3
It is a single cell, the example shown is a single cell but the graph is
randomly regenerated. One of the models has a pooling operator which
results in the lack of transfer learning. Please take a look at the
original paper.

On Wed, 26 Aug 2020 at 05:39, Fatima-200159617 <notifications@github.com>
wrote:

[2020-08-27 20:51] jmftrindade opened #4 "Datasets links are broken"
Hi there!  It looks like the links to "datasets" are broken, both on the README.md file, as well as on the docs.  Cheers --Joana

[2020-08-27 21:09] benedekrozemberczki commented on #4
Hi there Joana,

This is still work in progress. It is just a place holder. Soon I will have a few cool datasets.

Bests,

Benedek

[2020-08-27 21:19] benedekrozemberczki commented on #4
I will elaborate. The aim would be to have a properly tested 1.0 version of this in early 2021.

[2020-08-27 21:19] #4 closed

[2020-11-12 20:01] aravindsankar28 opened #8 "Feature request for non-recurrent GNN models"
Is there a plan to include self-attentional and memory-based graph neural network models for temporal graphs? A few models with github repos include DySAT (https://github.com/aravindsankar28/DySAT) and TGN (https://github.com/twitter-research/tgn)

[2020-11-12 22:01] benedekrozemberczki commented on #8
Dear Aravind,

The library will be focusing on models that can deal with the following types of settings.

1. Discrete time - static graph.
2. Discrete time - dynamic graph.
3. Continuous time - static graph.
4. Continuous time - dynamic graph.

The current data iterator, splitter and toy dataset is suitable for the first setting. Models included can deal with the first and second setting. If you

[2020-11-12 22:01] #8 closed

[2020-11-20 01:09] dgx11678832 opened #10 "How to use evolvegcn to run multiple graphs with different numbers of nodes"
I have multiple graphs with different numbers of nodes, but I don't know how to train and test, could you help me? The task is to classify nodes without changing weights.

[2020-11-21 13:06] benedekrozemberczki commented on #10
The pooling layer does not support that yet.

[2020-11-21 13:06] #10 closed

[2020-12-05 17:31] 3riccc opened #12 "Can I use mini-batch in DCRNN?"
In the example given in the documentation, you use DCRNN to process some data which has the format like [node_num, node_feature_dim]. I understand that, but the problem I want to solve now is a little bit complicated.

I want to train a batch of graphs, which has same edge indexs but different node features. Imaging a bunch of nodes interact in a graph through a fixed topology and the feature of t

[2020-12-05 20:04] benedekrozemberczki commented on #12
Hi there @3riccc,

What do you mean by sampling by time? What is the exact use case? I would like to help, but the batching strategy highly depends on the use case and the sampling. Can you elaborate?

Bests,

Benedek

[2020-12-05 22:56] gao462 opened #13 "Are EvovleGCN example temporal?"
In the example of EvolveGCN, I only saw a weighted static graph with 1000 nodes of 100 dimension features, 7000 edges with edge weights, where is the temporal information?

[2020-12-05 23:19] benedekrozemberczki commented on #13
You can take the read the docs example and use the EvolveGCN model with that.

[2020-12-05 23:19] #13 closed

[2020-12-05 23:48] gao462 commented on #13
I am somehow not sure about the usage based only on EvolveGCN document and example, is this works only on a single step of a sequence of snapshots just like RNNCell of PyTorch? And the example is how it works with a single step of grap snapshot inputs?

[2020-12-05 23:52] benedekrozemberczki commented on #13
Yes it is a single cell.

On Sat, 5 Dec 2020 at 23:48, Jianfei Gao <notifications@github.com> wrote:

[2020-12-06 04:06] 3riccc commented on #12
Thank you. Let me explain.

Imagine a spring system in which small balls are connected by springs, the balls are nodes and springs are edges. The ball moves under the action of elastic force. Thus the node features will be the position and velocity of the balls and the topology is fixed.

'Sampling' means take a snapshot of this system, Concretely, I'll record the node features(position and veloci

[2020-12-06 12:38] benedekrozemberczki commented on #12
Dear @3riccc,

1.You would need to update the hidden states in the RNN, so you cannot batch. You could accumulate the loss for the sequence of graphs with a discrete data iterator with a static graph.  Our framework allows for this, please look at the read the docs.

2. However, You could have multiple sequences - you run the simulation multiple times. In this case, you could have a diagonal block

[2020-12-07 04:36] jspisak opened #14 "Tutorial 404s"
Hi there..
I was taking a look at the project for consideration for the PyTorch ecosystem and noticed that the tutorial link early on in the readme 404s and takes me to: https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master

<img width="856" alt="Screen Shot 2020-12-06 at 8 36 07 PM" src="https://user-images.githubusercontent.com/11398925/101310045-ad172f80-3802-11eb-83aa-6

[2020-12-07 09:24] benedekrozemberczki commented on #14
Dear @jspisak,

I fixed the 404.

Bests,

Benedek

[2020-12-07 09:24] #14 closed

[2020-12-07 09:25] benedekrozemberczki commented on #12
Hi there @3ricc,

Did this solve your issues?

Bests,

Benedek

[2020-12-07 14:33] jspisak commented on #14
thanks!

[2020-12-07 15:09] coballejr opened #15 "Minibatch training over different DynamicGraphDiscreteSignals iterators?"
Hello,

Is there a straightforward way to use diagonal block matrix-based batching with a list of different DynamicGraphDiscreteSignals iterator objects?

For context, each DynamicGraphDiscreteSignals iterator represents a different trajectory of a dynamical system.

Thanks,
Chris

[2020-12-07 15:22] benedekrozemberczki commented on #15
No, you could batch when you create the object. Is it complicated?

[2020-12-07 15:43] coballejr commented on #15
That should work.

Thank you,
Chris

[2020-12-07 16:15] benedekrozemberczki commented on #15
Dear @coballejr,

1. Do you plan to write a paper? We would appreciate it if you would cite the library.
2. Can you open-source the dataset? If yes, we can add you as a co-author to the PTG paper.

Bests,

benedek

[2020-12-08 10:18] #15 closed

[2020-12-08 10:18] #12 closed

[2020-12-08 17:07] coballejr commented on #15
@benedekrozemberczki,

     1. Yes, but we're still very early in the process. We'll be sure to cite your work.
     2. I'll pass it your way once I'm done preprocessing.

Thank you,
Chris

[2020-12-08 18:25] 3ricc commented on #12
Hi there @benedekrozemberczki,

You mentioned the wrong person. The one you are looking for is @3riccc with 3 cs, not two.

Best regards,

Eric

[2020-12-10 11:50] benedekrozemberczki commented on #12
Hi there @3riccc ,

Did this solve your issues?

Bests,

Benedek

[2020-12-17 10:26] johnny12150 opened #16 "Cuda 11 support?"
Is there any plan of providing the installation of cuda 11?

[2020-12-17 21:22] benedekrozemberczki commented on #16
Yes, in the future. If you want to have that feel free to open a PR.

[2020-12-17 22:09] benedekrozemberczki commented on #16
We added the support as the base PyTorch Geometric library allows it. Please start the repo and hit a follow if you feel like so.

[2020-12-17 22:09] #16 closed

[2020-12-26 08:34] wangqh1996 commented on #12
Hi there @3riccc ,
I found that my question and data are very similar to yours, "which has same edge indexs but different node features ", have you solved it? Could you please share your solution?
Bests wishes

[2021-01-02 13:38] johnny12150 opened #17 "Add custom datasets"
Is there a tutorial to add custom datasets?

[2021-01-02 19:03] benedekrozemberczki commented on #17
Hi there @johnny12150,

I am happy to write a tutorial if you are willing to open-source the dataset with us.

Bests,

Benedek

[2021-01-02 19:19] johnny12150 commented on #17
Actually, I am using some open-source datasets with given timestamps and intend to transform them into evolving datasets.

[2021-01-02 19:46] benedekrozemberczki commented on #17
May I ask which are these datasets?

On Sat, 2 Jan 2021 at 19:19, Jain Wun Su <notifications@github.com> wrote:

[2021-01-03 07:22] johnny12150 commented on #17
Since I am focusing on the research of recommendation systems, those datasets are Amazon, Nowplaying or Tmall, etc...

- [Tmall](https://tianchi.aliyun.com/dataset/dataDetail?dataId=47)
- [Nowplaying](https://dbis.uibk.ac.at/node/263#nowplaying)

[2021-01-05 13:47] tonygracious commented on #13
How can I make the EvolveGCN temporal with embedding learning using multiple Snapshots?

[2021-01-06 13:02] johnny12150 opened #18 "RuntimeError: All input tensors must be on the same device. Received cuda:0 and cpu"
Why the initial hidden `H` won't be moved to `GPU`?

[code]

[2021-01-06 13:10] benedekrozemberczki commented on #18
??

[2021-01-06 13:29] johnny12150 commented on #18
This happened when I don't pass 'h0' into GCRNN `forward()`.
I fixed this by giving my only `h0` on `GPU`.

[2021-01-06 13:29] #18 closed

[2021-01-06 13:38] #17 closed

[2021-01-06 13:40] johnny12150 commented on #13
I found [this example](https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/introduction.html#applications) helpful.

[2021-01-06 18:56] ArashJavan commented on #17
Hi and happy new year,

thanks for this great repo. I am working on a time-series dataset and would like to know:

1) Does pyGeoTemp supports multidimensional time-series. AFAIK the Chickenpox dataset you provide is dim=(#num-nodes=20, #time-stamps=4). But my datasets dim=(seq-lenth, #nodes, #numfeatures). How can I create a multidim temporal dataset?

2) Which graph supports this kind of data, i.

[2021-01-08 11:06] ArashJavan opened #19 "Custom Dataset Multidimensional Timeseries"
Hi and happy new year,

thanks for this great repo. I am working on a time-series dataset and would like to know:

1) Does pyGeoTemp supports multidimensional time-series. AFAIK the Chickenpox dataset you provide is dim=(#num-nodes=20, #time-stamps=4). But my datasets dim=(seq-lenth, #nodes, #numfeatures). How can I create a multidim temporal dataset?

2) Which graph supports this kind of data, i.

[2021-01-10 15:05] ArashJavan opened #20 "GConvGRU error using CUDA"
Hi,

in the "GConvGRU"-class the hidden state is created regardless of the device type fo the input.
See [here](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/torch_geometric_temporal/nn/recurrent/gconv_gru.py#L102).

[2021-01-11 15:01] benedekrozemberczki commented on #20
What do you recommend?

[2021-01-11 19:28] ArashJavan commented on #20
Maybe something like this:

`    def _set_hidden_state(self, X, H):
        if H is None:
            H = torch.zeros(X.shape[0], self.out_channels).to(X.device)
        return H`

[2021-01-14 18:52] benedekrozemberczki commented on #20
Okay, all of the hidden state and cell state definitions were redefined.

[2021-01-14 18:52] #20 closed

[2021-01-14 18:53] benedekrozemberczki commented on #19
The data iterator which we defined supports this, please try it out.

[2021-01-14 18:53] #19 closed

[2021-01-20 02:47] johnny12150 commented on #18
Same as #20

[2021-02-01 09:16] tpjoe opened #21 "Potential discrepancy between the code and the paper?"
Hi, I'm new to this so I am probably misunderstanding somethings. The function [GCLSTM](https://pytorch-geometric-temporal.readthedocs.io/en/latest/_modules/torch_geometric_temporal/nn/recurrent/gc_lstm.html) was adapted from the paper [C-LSTM: Graph Convolution Embedded LSTM for Dynamic Link Prediction](https://arxiv.org/abs/1812.04206), but there are couple formulations in the code that are diff

[2021-02-01 10:21] benedekrozemberczki commented on #21
Dear Thanaphong,

You can feed in earlier edge snapshots and you can represent the next step
adjacency matrix as X. Do you get what I mean?

I believe it answers both of your questions.

Could you star the repo and hit follow?

Benedek

On Mon, 1 Feb 2021 at 09:17, Thanaphong Phongpreecha <
notifications@github.com> wrote:

[2021-02-01 18:11] tpjoe commented on #21
Yes definitely, followed and starred, this is an awesome repo.

I'm sorry but I am still a bit confused. From your response, yup I guess I could do that, but then is there any reason why X is defaulted to node features in the manual? To be honest, using node features as X actually makes more sense to me be because otherwise there wouldn't be anywhere in the calculation to account for node features

[2021-02-01 18:24] benedekrozemberczki commented on #21
The paper wants to solve a link prediction problem, when you have no node features based on my understanding as far as I remember. Generally speaking the method proposed in the paper is not really suitable in my opinion to solve that problem.

[2021-02-01 18:24] benedekrozemberczki commented on #21
(Not every paper on ArXiv is a good paper.)

[2021-02-01 22:38] tpjoe commented on #21
Ahh I see. Thank you!

[2021-02-01 22:38] #21 closed

[2021-03-18 04:43] seifer08ms opened #25 "Feature request for Graph-Structure-Learning GNN for temporal Graph"
Is there a plan to include Graph-Structure-Learning graph neural network models for temporal graphs? A few models with github repos include MTGNN(https://github.com/nnzhan/MTGNN) and Graph-WaveNet (https://github.com/nnzhan/Graph-WaveNet)

[2021-03-18 23:33] benedekrozemberczki commented on #25
Hi there :)

Are there other papers which you would like to see?

We are happy to hear out the community.

Bests,

Benedek

[2021-03-18 23:49] SherylHYX commented on #25
Hi Chenliang,

Yes, we plan to add some Graph-Structure-Learning graph neural network models for temporal graphs. Thanks for reaching out:D

Best,
Yixuan He

[2021-03-19 16:29] seifer08ms commented on #25
Thanks for quick answer!

Besides Graph-Structure-Learning models ,  it would be amazing to implement some Transformer-based graph models for temporal prediction, such as GMAN (tf:  https://github.com/zhengchuanpan/GMAN,  https://github.com/VincLee8188/GMAN-PyTorch) and STAR( https://github.com/Majiker/STAR ) .

Cool !  I can't wait it.

[2021-03-19 22:26] SherylHYX commented on #25
Hi Chenliang,

FYI I just added MTGNN. Check it out :)

Best,
Yixuan

[2021-03-20 02:06] seifer08ms commented on #25
Owesome！That would be a great help for my research. Thanks a lot !

Best,
Chenliang

[2021-03-20 21:56] SherylHYX commented on #25
Hi Chenliang,

GMAN is now ready for you. Good luck with your research!

Best,
Yixuan

[2021-03-20 22:09] #25 closed

[2021-03-24 15:32] sinjako opened #29 "How to use layers which don't require time series?"
Hello, i noticed that in the example given in the docs using the DCrnn with the Chickenpox dataset, we dont train over the temporal graph but on each individual snapshot instead. Indeed, many of the NN's in the docs require an input of dimension Num Nodes X Num features. But the STGCN requires an input of a time series,  so the looping over the snapshots doesnt quite work here. My question is, how

[2021-03-24 16:10] benedekrozemberczki commented on #29
Hi there @sinjako,

I do not know whether this helps:

0. The goal of the library is spatiotemporal signal processing. In that setting the features are dynamic the graph can be static.
1. The reason for the snapshot transfer to GPU is to help potential scaling when the graph is large and you train on local receptive fields.

Bests,

Benedek

[2021-03-24 19:51] #29 closed

[2021-03-27 01:33] sinjako commented on #29
I believe there has been an misunderstanding. Say i represent my data as a temporal series, of size Samples xTimesteps x Num nodes x Num features.  I can train STGCN on this input by giving each sample directly as input. For a DCRNN, i would have to give it the sample and then loop over every timestep. My question is then, how would i combine the two, so for example having an STGCN layer feeding i

[2021-03-27 20:49] benedekrozemberczki commented on #29
You can use the diagonal batching trick through time.

[2021-03-29 05:02] sinjako commented on #29
I tried googling that, and as of yet, i still have no idea if that is how i can combine the different neural networks or if it is how i will be able to shift the iterator object to gpu. Could you clarify?

[2021-04-01 12:59] attibalazs opened #40 "Transforming raw chickenpox dataset to json input data format"
First of all thanks for an amazing library I have been experimenting with it this week.

Would you be able to share the code for how you went from the tabular format to the json format for the Hungarian Chickenpox dataset please ?

thanks

[2021-04-03 20:04] benedekrozemberczki commented on #40
We donated the raw dataset to the UCI ML repository.

[2021-04-03 20:04] #40 closed

[2021-04-06 03:11] sinjako opened #41 "Is a constant time difference necessary?"
Hello, I am a Masters student writing a thesis on the detection of Neutrinos in a detector array. The data, in its simplest form, is a series of "hits" on detectors, where we record the time and position of the interaction. These are structured into "events" which is just a series of these hits, usually between 2-200 hits per event. For each event we have a target of the energy of the neutrino, wh

[2021-04-06 11:35] benedekrozemberczki commented on #41
1. There is no specific reason for not using the techniques, but there are architectures for non-constant time differences based on temporal point processes. A lot of data generation processes create edges with arbitrary time diffs.
2. We are releasing problems where the graph itself is dynamic - so look out for that. We already released the COVID 19 England which operates on temporal graphs.
3. Y

[2021-04-07 09:51] sinjako commented on #41
Yes thank you.

[2021-04-07 09:53] benedekrozemberczki commented on #41
Can I close the issue?

On Wed, 7 Apr 2021, 10:51 sinjako, ***@***.***> wrote:

[2021-04-07 10:19] sinjako commented on #41
Actually, i thought about it some more, and i still have further questions.

1, If the constant time difference is not a requirement, is it acceptable to group in nodes happening at t=0..1 for the first snapshot and then have nodes happening at t=1..3 for the second and so on?
2. i was under the impression that the diagonal batching trick was something that happened automatically in pytorch geomet

[2021-04-08 06:50] sinjako commented on #41
After rereading your first answer (i misunderstood it at first) i realize that you have given me what i want. Thank you.

[2021-04-08 06:50] #41 closed

[2021-04-08 09:44] attibalazs commented on #40
yes I saw the raw dataset in your other repo also, thanks for that.
I was wondering if you can share the code which transforms the csv files to the json file used in the library.

[2021-04-08 09:46] attibalazs commented on #25
Would you be able to provide an example similar to the ones you have in your docs for the chickenpox and web traffic for the MTGNN network please ? For someone who is new to all of this its a steep learning curve.

Your chickenpox and web traffic examples were a great start for me thanks for providing those.

[2021-04-08 10:05] benedekrozemberczki commented on #40
I will make the loader to use the lags so you can play around.

On Thu, 8 Apr 2021 at 10:44, Atti ***@***.***> wrote:

[2021-04-09 13:24] attibalazs opened #46 "Not all tests pass on GPU environment"
Hi all, just thought I would let you know that not all your tests pass when running on a machine with a GPU

I was looking at the MTGNN test which started working once I set the device to CPU and wasn't working with the existing code
[code]

[2021-04-09 13:41] benedekrozemberczki commented on #46
I will take a look into it.

On Fri, 9 Apr 2021 at 14:25, Atti ***@***.***> wrote:

[2021-04-09 13:52] benedekrozemberczki commented on #46
Do you have some details about the line that fails and the traceback?

[2021-04-09 13:57] SherylHYX commented on #46
Thanks for point out. I will also have a look. I wrote these tests on a CPU machine previously.

[2021-04-09 16:15] attibalazs commented on #46
in the test_mtgnn() function in tests

Traceback:

[code]

[2021-04-09 16:17] SherylHYX commented on #46
Yes, thanks! I am fixing it now. Give me several minutes:)

[2021-04-09 16:32] SherylHYX commented on #46
I fix it now. Sorry about that.

[2021-04-09 16:37] attibalazs commented on #46
hey now worries :) thanks for putting together a great framework really enjoyed digging into it.

[2021-04-09 16:38] attibalazs opened #48 "MTGNN example"
Do you have a good example of the MTGNN network, I like the examples you did for the chickenpox data and the web traffic I learned a lot from them. I am looking at the original implementation of MTGNN and the original paper, but would like to use MTGNN with your library also. I was looking at your unit tests for inspiration.

[2021-04-09 18:09] benedekrozemberczki commented on #48
No, right now the primary focus is on testing and finishing the system design white paper. However, we always welcome contributions to the library and the documentation. Feel free to create a PR.

[2021-04-09 18:09] #48 closed

[2021-04-09 18:12] #46 closed

[2021-04-13 15:53] ystephenai opened #50 "DCRNN source code problems"
Hi,
In the diffusion convolution layer of DCRNN, I doubt whether the message passing flow directions for Dout and Din are the same. Because in your source code, they share the same direction "source to target". But in the original paper, I think they are different since one is (Dout)-1 @ W and the other is (Din)-1 @ W **transpose**. Maybe the second term with W transpose change the flow direction,

[2021-04-14 14:50] ystephenai opened #51 "STGCN"
PQ = P * Q not P + Q

[2021-04-14 17:03] benedekrozemberczki commented on #51
@paulmorio Could you take a look at this?

[2021-04-14 17:03] benedekrozemberczki commented on #50
@paulmorio Could you take a look at this?

[2021-04-15 12:01] attibalazs commented on #48
I am working backwards from your unit test on MTGNN and trying to create an example. My challenge is also to add context features. If I am successful at this will definitely raise a PR.

[2021-04-16 12:38] jamestszhim opened #52 "How does the temporal information flow in DCRNN example"
I have a question about the temporal part in the DCRNN example.

In the DCRNN example:
[code]
If I understand correctly, the snapshot in each epoch is the graph at time t (G_t), so the DCRNN model takes in G_t and predicts the target at time t. However, in temporal modelling, is it correct that the model should take in a sequence of graphs, say like (G_t, G_t-1, G_t-2, ...), and predict the target

[2021-04-16 12:55] benedekrozemberczki commented on #52
1. The feature blocks are already lagged values.
2. The model keeps a memory based on the sequence seen so far.
3. Naturally, You can chain multiple GRUs together.

Could you star the repo?

On Fri, 16 Apr 2021 at 13:38, jamestszhim ***@***.***> wrote:

[2021-04-16 13:04] #52 closed

[2021-04-17 03:30] jamestszhim commented on #52
Thanks a lot, very nice repo. I starred it. Do you mind answering one more question so I make sure I understand your reply correctly?

When you say (2) the model keeps a “memory”, I look at the code the hidden state ‘H’ seems not being saved or passed to the next time stamp automatically. I have to chain up the DCRNN cells and pass the output state ‘H’ to the next time step manually, right? Or the

[2021-04-17 06:47] seifer08ms opened #53 "Request for some examples to reproduce the paper"
Is there any plan to provide a few out-of-the-box examples (such as DCRNN or others) for reproducing the  results of the original papers? I believe it would be helpful for us to check the implementation or use. Thanks!

Best,
Chenliang Wang

[2021-04-17 14:52] benedekrozemberczki commented on #53
Hi there,

Would you like to contribute some of those?

Bests,

Benedek

[2021-04-17 14:53] benedekrozemberczki commented on #52
Yes, you have to pass on the H to the next step.

[2021-04-18 07:07] seifer08ms commented on #53
Yeah, I'm interested.  I'll try to help, just been a bit swamped, so it may be a while.

Best,
Chenliang Wang

[2021-04-18 16:09] jwsmithers opened #54 "DCRNN METRLADatasetLoader example tensor dimension errors"
Hi there,

Thanks for the great library!
I'm trying to reproduce an example found on the introduction page of the docs using the METRLADatasetLoader. My code is below:

[code]

That fails with:

[code]
Package versions:
[code]

Am I doing something stupid?
Thanks in advance!

[2021-04-19 10:12] benedekrozemberczki commented on #54
The MetrLA dataset returns snapshots of features that were not designed for DCRNN exactly. There is an extra dimension on which you would have to iterate. If you print it you can see that the shape is not compatible with the DCRNN weights.

[2021-04-19 10:31] SherylHYX commented on #54
Yeah, this is also true for MTGNN and GMAN models for example.

[2021-04-19 11:02] #54 closed

[2021-04-19 11:56] smorad commented on #15
I'm also interested in this. Could you explain "batch when you create object"? Do you mean make `feature.shape` `BxNxK` instead of `NxK`?

[2021-04-19 12:00] benedekrozemberczki commented on #15
No. I mean creating a block diagonal matrix of the adjacency matrices.

On Mon, 19 Apr 2021 at 12:56, Steven Morad ***@***.***> wrote:

[2021-04-21 08:29] #53 closed

[2021-05-03 22:15] MBelniak opened #57 "STGCN - RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
Hi, I'm trying to use STConv from stgcn.py and on backward propagation it gives me the following error:
[code]
The stacktrace further above (the relevant part):
[code]

[2021-05-03 22:36] benedekrozemberczki commented on #57
Can you upgrade to 0.30?

[2021-05-04 07:56] MBelniak commented on #57
It helped :D Thank you.

[2021-05-04 07:56] #57 closed

[2021-05-04 07:58] benedekrozemberczki commented on #57
Could you star the repo?

On Tue, 4 May 2021, 08:57 Michał Belniak, ***@***.***> wrote:

[2021-05-04 08:03] MBelniak commented on #57
Sure

[2021-05-06 11:06] smkaropp commented on #54
Thanks for the great library. I was wondering which model exactly from package would you recommend to use on MetrLA dataset.

[2021-05-07 20:02] paulmorio commented on #51
Sorry for the late action on this.
Thanks for spotting this typo. It should indeed be the Hadamard product not addition. A fix will be uploaded shortly.

Will comment again when the fix is in master.

[2021-05-09 14:11] #51 closed

[2021-05-09 14:11] #50 closed

[2021-05-09 15:20] geoHeil opened #59 "[question] getting started/basics"
Many thankgs for the great library!

However I am just getting started and have several questions:

- how can I ensure that the GPU/device is used and not the CPU? By default the examples seem to run on the CPU. I figured out that I need to write:
[code]
But always calling `x.cuda()` seems to be really tedious. Is it possible to manage this in a more centralized manner?

- how do I control the bat

[2021-05-09 15:30] benedekrozemberczki commented on #59
Dear @geoHeil,,

It is nice to hear that you like the library!

A, You can transfer the snapshots because those are PyTorch Geometric Dataset Objects. Given that temporal snapshots can be large it is not evident that transfering all the snapshots in advance would be the way to go.

B, Batching is more complicated than snapshots. Consider this:

1, You could batch though time (accumulate loss in wi

[2021-05-09 15:53] geoHeil commented on #59
Many thanks for the quick reply.

I think A is clear now. I would hope that when using https://www.pytorchlightning.ai/ in the future this gets managed more automatically.

B: agreed. And I would opt for 1  i.e. have sliding window batches. Do you have an example implementation for this? So far it looked like what I have found on your web page was always using a single batch with multiple snapshot

[2021-05-09 17:44] benedekrozemberczki commented on #59
Normalizing the distances to a certain reference point might help. Just an idea.

[2021-05-09 17:44] #59 closed

[2021-05-13 08:15] jeongwhanchoi opened #60 "Different number of time-step on METR-LA and PEMS-BAY datasets"
Both datasets are different from the dataset of the DCRNN paper.
It has a different number of time steps.

Could you explain some differences from DCRNN's dataset?

[2021-05-13 08:35] benedekrozemberczki commented on #60
Hi there @jeongwhanchoi,

@paulmorio Could you take a look into this!

Bests,

Benedek

[2021-05-13 15:05] jeongwhanchoi commented on #60
- PEMS-BAY Dataset
 - DCRNN official code from [DCRNN official repo](https://github.com/chnsh/DCRNN_PyTorch):
  - timesteps=52116
 - pytorch_geometric_temporal:
  - timesteps=52105

[2021-05-13 15:15] benedekrozemberczki commented on #60
Did you check the number of steps you lose with lags? The number of steps
in and out part. I feel like that you are seeing that.

On Thu, 13 May 2021 at 16:05, Jeongwhan Choi ***@***.***>
wrote:

[2021-05-13 15:58] #60 closed

[2021-05-14 14:20] geoHeil opened #61 "Use EnglandCovidDatasetLoader with dummy example fails to multiply matrices"
When getting started with PyTorch geometric temporal I start to work with the provided examples.
As a first change when using another of the provided datasets such as switching from chickenpox to COVID I get the following error:

`RuntimeError: mat1 and mat2 shapes cannot be multiplied (129x40 and 36x32)`

please can you help me to understand the error and develop a fix.

[code]

[2021-05-14 14:48] benedekrozemberczki commented on #61
You should set the number of lags in your loader to be the number of node features.

[2021-05-14 14:48] #61 closed

[2021-05-14 15:17] geoHeil commented on #61
Many thanks! I can confirm this to be working by setting

[code]

[2021-05-15 07:34] geoHeil opened #62 "[question] link prediction - how to formulate the dataloader in a non-regression way"
How can I perform spatio-temporal link prediction on an unweighted graph with features on the edges?

My graph is a `DynamicGraphTemporalSignal`, but I do not want to regress on some signal, rather perform link prediction as also outlined in https://pytorch-geometric-temporal.readthedocs.io/en/latest/_modules/torch_geometric_temporal/nn/recurrent/gc_lstm.html?highlight=link

But from looking at th

[2021-05-15 07:58] geoHeil commented on #62
Is the type of the graph (`DynamicGraphTemporalSignal`) even suitable?

    (target) are also dynamic.
https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/a13ea7876525ed9ba7c48ec69408024346eaded3/torch_geometric_temporal/signal/dynamic_graph_temporal_signal.py#L14

This rather sounds to me as if only some classification/regression would work out of the box? I hope this is wrong

[2021-05-15 18:57] benedekrozemberczki commented on #62
You could define a custom loss on edge pairs that you look up from the edge features or have some running temp variable for lagged states. I cannot see what is the exact problem that you are facing with this, you can keep two snapshots in memory and iteratively replace them and predict for the second one e.g. queue.

[2021-05-16 10:56] geoHeil commented on #62
Some publications refer here to a regularized L2 distance.

My problem is: being very new to deep learning and in particular geometric deep learning everything is still a bit confusing - especially starting out with something which is not covered in the starter examples with so many new APIs and layers of APIs.

For the loss function something simple along these lines should be fine to start out w

[2021-05-16 21:42] geoHeil opened #63 "2D weight for DCRNN"
How can I pass a multidimensional weight to a DCRNN?

Using the example RGCN:

[code]

I get
[code]

when a 2D weight vector is passed.

Why is only a 1D weight vector accepted? What would need to be changed to support multidimensional weights?

[2021-05-16 22:22] benedekrozemberczki commented on #63
Because, the original paper is not designed to do that. It is an
implementation of what is done in the paper and not an implementation of
what should be tone. You could parameterize the edge weights like we did in
this paper:

https://github.com/benedekrozemberczki/PDN

On Sun, 16 May 2021 at 22:42, geoHeil ***@***.***> wrote:

[2021-05-16 22:23] #63 closed

[2021-05-16 22:23] #62 closed

[2021-05-17 21:47] benedekrozemberczki commented on #62
Added an integer based index to all of the iterators and created a new release (0.33) which allows direct indexing of snapshots.

[2021-05-20 17:58] geoHeil commented on #63
However, as the number of edges is not constant (=dynamic) any reshape operation to apply the suggested fixup is potentially going to fail.

Can you @benedekrozemberczki recommend any of the implemented layers where multidimensional weights would work or explain how to adapt the fixup to a dynamic graph with a changing number of edges?

[2021-05-20 18:23] geoHeil commented on #63
Using https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/torch_geometric_temporal/nn/recurrent/attentiontemporalgcn.py#L5

and changing one line from:

[code]

to:

[code]

I can now support multidimensional temporal node features.

However, for not yet for the edge features.

[2021-05-30 03:22] CongWeilin opened #67 "Example code"
Hi, I found this repository is very helpful for future research on dynamic graphs. I wonder if you can also release the code you used to generate Table 4 in the [white paper](https://arxiv.org/abs/2104.07788)?

Besides, I am not sure if you are planning (1) to compare the performance of the code in this repository to their original code? and  (2) supporting more datasets that were used in the exis

[2021-05-30 08:38] benedekrozemberczki commented on #67
Hi there, we will release more examples for sure. We are going to add existing datasets, PemsBay and MetrLA are already integrated.

[2021-05-30 08:39] benedekrozemberczki commented on #67
Is there anything you want to see?

[2021-05-30 15:36] CongWeilin commented on #67
Hi, I think adding dataset such as BC-OTC, BC-Alpha, AS, Reddit, Elliptic used in [EvolveGCN](https://arxiv.org/pdf/1902.10191.pdf), Enron, UCI, Yelp, ML-10M in [DySAT](https://dl.acm.org/doi/pdf/10.1145/3336191.3371845), and PeMSD4, PeMSD8 in [AGCRN](https://arxiv.org/pdf/2007.02842.pdf) would be extremely helpful.

I feel like one of the biggest issues in dynamic graph research comparing to stat

[2021-05-31 18:16] benedekrozemberczki commented on #67
Yes, I totally agree that there are major issues within this specific domain of ML. We will add some additional examples later on so you can play around. The AGCRN model has a bug which we are investigating right now Gradients evaluate for NaN.

[2021-05-31 18:16] #67 closed

[2021-06-01 12:45] AprLie opened #68 "Shuffle problem"
When I use ``StaticGraphTemporalSignal``,  I find that I cannot specify whether the data are shuffled or not. The data are packaged as ``Data`` inside the class so it seems there is no solution for this problem.  I wonder whether this params ``shuffle`` will be added.

Another problem is that when I use ``DCRNN``  on dataset "PEMS04" and ``K`` is set as 2, the output of DCRNN will be nan.  As ther

[2021-06-01 12:48] benedekrozemberczki commented on #68
Why on earth would you shuffle a spatiotemporal series?

On Tue, 1 Jun 2021 at 13:45, AprLie ***@***.***> wrote:

[2021-06-01 12:59] AprLie commented on #68
The "shuffle" means shuffling in the dim of samples, not the time dim or node dim. In other words, if the shape of input is [num_samples, num_nodes, num_timesteps], I would like to shuffle along ``num_samples``

[2021-06-01 13:19] SherylHYX commented on #68
How about Tensor.permute()?

[2021-06-01 13:52] benedekrozemberczki commented on #68
How about randomized masking on the vertex set at each weight update step?

[2021-06-01 21:15] #68 closed

[2021-06-04 02:03] dgh19940 opened #69 "Question about the demo code：Web Traffic Prediction"
The input of each step in GRU contains the edge features of the current time step and the hidden state of the previous step. In the official demo “Web Traffic Prediction”，it seems that the hidden state of the previous time step is not entered at each time. So is it set in the relevant GConvGRU layer？

[2021-06-04 21:46] semirelezovikj opened #70 "Example of how to pass a sequence of graphs"
How would one go about passing a sequence of graphs (possibly variable length sequences) into any of the methods?

Let's take for example LRGCN: designed to deal with a sequence of graph snapshots. Let's say I have 30 sequences of max_length 5 (minimum 1 graph, maximum 5 graphs or 5 timesteps). Any examples on how to accomplish this?

Pytorch has `padding` and `packing` methods to deal with variab

[2021-06-05 21:47] benedekrozemberczki commented on #70
You can pass in empty snapshots.

[2021-06-05 21:47] #70 closed

[2021-06-05 21:55] benedekrozemberczki commented on #69
It is a simple demo example. You can use a design where you are passing around the states.

[2021-06-05 21:55] #69 closed

[2021-06-06 02:47] dgh19940 commented on #69
Thank you~

[2021-06-07 21:46] semirelezovikj commented on #70
@benedekrozemberczki Do you have a way of passing an entire sequence, or do I have to pass each snapshot in a for-loop?

Thanks for your reply

[2021-06-08 18:32] semirelezovikj opened #72 "Passing entire sequences"
Do you have a way of passing an entire sequence, or do I have to pass each snapshot in a for-loop? (Ex. LRGCN)

[2021-06-10 20:05] #72 closed

[2021-06-14 09:35] MoRoBe-Work opened #76 "[Feature Request] Make PyTorch Geometric available via Anaconda (conda-forge channel)"
Hi,
First of all thanks for providing this package which provides an extremely convenient way of testing different approaches from literature on you own data. Now, about my request: PyTorch Geometric is available through conda, thus it would be very comfortable to have PyTorch Geometric Temporal available there as well. Do you have any plans of adding a conda recipe? I understand that this is mere

[2021-06-14 21:08] benedekrozemberczki commented on #76
Hi there,

Do you want to contribute this?

Bests,

Benedek

[2021-06-15 06:51] MoRoBe-Work commented on #76
Hey,
Unfortunately I have never done so before. I could try nonetheless but will have to see when I can do the necessary reading. Please leave this issue open for now, I'll definitely get back to you once I sorted out some more urgent tasks.
Best,
MoRoBe

[2021-06-17 15:41] MoRoBe-Work commented on #76
Hi,
I was able to generate a basically complete recipe but the tests fail with

`OSError: /home/conda/staged-recipes/build_artifacts/torch-geometric-temporal_1623933364794/_test_env_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_placehold_p/lib/python3.8/site-packages/torch_sparse/_version.so: un

[2021-06-24 10:45] MoRoBe-Work commented on #76
As stated in the PR mentioned above there is an underlying problem with the conda recipes for PyTorch Geometric. Therefor I no longer pursue this. A Pipfile for an installation of the current version can be found there as well.

[2021-06-25 10:22] #76 closed

[2021-06-28 08:03] spytensor opened #78 "Examples for more models and dataset are needed!"
Since there are many models and dataset ,do you have any plan to release more examples?

[2021-06-28 09:02] benedekrozemberczki commented on #76
PyTorch Geometric became available on conda!

[2021-06-28 09:09] spytensor commented on #78
Thanks for your reply！
Now,I’m trying to do some experiments and after finished I will share them.

[2021-06-28 09:09] #78 closed

[2021-06-28 09:15] MoRoBe-Work commented on #76
It is available on conda-forge, but the current recipe does not work, or at least I wasn't able to get it to work. If you think I missed something please read the discussion in the [PR](https://github.com/conda-forge/staged-recipes/pull/15329) to add the PyTorch Geometric Temporal recipe. I have little understanding of the underlying problem and after spending two work days rather used pipenv. I'd

[2021-07-12 06:08] maqy1995 opened #80 "[Bug?] the way to set GCN.weight in EvolveGCN."
Hi @benedekrozemberczki,
    I found that the gradient function may be lost in the implementation of EvolveGCN. The reason for this should be the following line of code: https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/bd6fac946378507a729b5723e9ace46a9dc0cbe1/torch_geometric_temporal/nn/recurrent/evolvegcno.py#L69
    And here is a demo try to verify it:
[code]
result is here

[2021-07-12 07:59] benedekrozemberczki commented on #80
This sounds problematic, let me think about this - I will ask Matthias Fey about this one.

[2021-07-13 18:00] JiapengWu opened #81 "How to process METR-LA and PEMS Bay datasets?"
For example, the feature field of METRLADatasetLoader and PemsBayDatasetLoader have 3 dimensions, while other data loaders like ChickenpoxDatasetLoader only have two. How to process batched input for the models in this case?

[2021-07-13 18:10] #81 closed

[2021-07-13 18:38] JiapengWu opened #82 "How to process METR-LA and PEMS Bay datasets?"
The feature field of METRLADatasetLoader and PemsBayDatasetLoader has 3 dimensions, while other data loaders like ChickenpoxDatasetLoader only have two. How to process batched input for the models in this case?
When I use DCRNN as encoder, I got the following error: "Tensors must have same number of dimensions: got 3 and 2."

[2021-07-13 19:40] benedekrozemberczki commented on #82
You can iterate over the none vertex, feature dimension. You can also reshape. Please print the shape of the feature blocks and you will understand.

[2021-07-13 20:08] JiapengWu commented on #82
OK, the input has dimension [207, 2, 12]. Supposed I have two output vectors of dimensions [207, 32], how do I combine them to get them? I don't see a proper description of this step in the original paper either...

[2021-07-14 13:45] alexriedel1 commented on #82
Each of the 207 nodes has two features and each datapoint has 12 timesteps, that's how you get the input dimensions. How would you get the [207, 32] output vector?

[2021-07-14 15:11] JiapengWu commented on #82
@alexriedel1 As Benedek mentioned, I can iterate over the feature dimensions and get a 32d embedding for each node, this is [207,32], and I will get two of them (because there are two features). The question is how do you combine them into a single vector for forecasting?

[2021-07-14 15:57] alexriedel1 commented on #82
You could add them our you could average them, thats just two possibilities

[2021-07-14 19:19] JiapengWu commented on #82
OK thank you, I’ll look into it.

On Jul 14, 2021, at 11:58 AM, Alexander Riedel ***@***.******@***.***>> wrote:

You could add them our you could average them, thats just two possibilities

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/benedekrozemberczki/pytorch_geometric_temporal/issues/82#issuecomment-880013553>, or

[2021-07-14 20:52] #82 closed

[2021-07-19 01:52] maqy1995 commented on #80
Hi @benedekrozemberczki, are there any updates?

[2021-07-24 06:12] Angelinaaaaaaaa opened #83 "Example code and results"
Hi  @joaquincabezas , I tried running the example code, and the results on the Chickenpox Dataset appear to be identical to Table 4 in [the paper](https://arxiv.org/abs/2104.07788). However, under the example settings, the mse got 0.4376 (event id="rg17"), which is significantly different from the results reported in the paper (mse=2.006 ± 0.008). I'm not sure if there's a problem with the coding.

[2021-07-24 08:03] benedekrozemberczki commented on #83
Hi,

Your code snippet uses a different split.

[2021-07-24 09:08] benedekrozemberczki commented on #83
Also you did not use the right loader.

[2021-07-24 15:31] Angelinaaaaaaaa commented on #83
Thank you for rapid reply. I don't understand the mean of "did not use the right loader", since I found the code in dataset_test.py also uses the loader "TwitterTennisDatasetLoader".

[code]
And I have tried different data split, the mse score always holds in 0.4-0.5. It would be nice if you can share the experimental details of Table 4.

[2021-07-24 21:22] #83 closed

[2021-07-30 12:57] omarsinnno opened #84 "Putting multiple graphs in one StaticGraphTemporalSignal iterator"
I'm dealing with a basketball players trajectory forecasting dataset; it is both temporal and spatial with the shape: **[number of plays, number of timesteps, player, position]**. Each play is composed of several timesteps, so in total I would have **number of plays * number of timesteps** graphs.

From reading documentation and source code it seems that the StaticGraphTemporalSignal accepts multi

[2021-07-30 13:20] benedekrozemberczki commented on #84
Hi @omarsinnno,

Thank you for reaching out!  In order to do this, you would need to do the diagonal batching trick - you can do this by creating a block diagonal matrix for each time step. This can be done using the batch iterator variants - these require batch membership indicators.

If you need help we can set up a short call where we deal with this.

Once again, thank you for reaching out. Fee

[2021-07-30 13:34] omarsinnno commented on #84
Hello @benedekrozemberczki

Thank you for your timely reply! I'm not quite sure what you mean about the diagonal batching trick to use these, if you can provide an example that would be perfect. A call would be nice if you're available during the weekend, since I'm new to this!

[2021-07-30 13:56] benedekrozemberczki commented on #84
https://github.com/tkipf/gcn/issues/4

[2021-08-02 11:37] MoRoBe-Work opened #85 "Modulo value for one hot encoding is hardcoded, should be derived"
Hello,
In the referenced line, the "frequency", i.e. the number of timesteps per day is hardcoded. This is fine as long as steps of exactly 5 minutes are used, but is erroneous otherwise. I believe 'T', the actual number of timesteps should be used. Could you adjust that in a future version or should I open a PR? Can do, but feels kind of overkill for changing a single numeral.

The line in questi

[2021-08-02 12:13] benedekrozemberczki commented on #85
@SherylHYX Do you want to fix this?

[2021-08-02 13:43] SherylHYX commented on #85
No problem! Thanks for point this out!
From: Benedek ***@***.***>
Sent: 02 August 2021 20:13
To: ***@***.***>
Cc: Yixuan ***@***.***>; ***@***.***>
Subject: Re: [benedekrozemberczki/pytorch_geometric_temporal] Modulo value for one hot encoding is hardcoded, should be derived (#85)

@SherylHYX<https://github.com/SherylHYX> Do you want to fix this?

—
You are receiving this because you were mentione

[2021-08-02 13:46] MoRoBe-Work commented on #85
Of course, thank you for providing this library. Please let me know once the fix made it into the wheel, we've overwritten the function for now.
Best
MoRoBe

[2021-08-02 19:06] smatovski opened #87 "Question about example code"
Hi,
I've been trying to reuse the example code, MPNNLSTM, GCLSTM, and GConvLSTM with my own dataset. My MSE errors are around .2 but the models do not return correct target values. When I run the examples the MSE is around 1. What does MSE represent? How should I structure data my data for these models?
I have a graph with 20 nodes, 2 features per node, and 32 edges. The dataset has 360 separate g

[2021-08-02 20:54] benedekrozemberczki commented on #87
Hi there,

What are we talking about? Which dataset?

MSE is mean squared error.

https://en.wikipedia.org/wiki/Mean_squared_error

The documentation described the data types needed for loading datasets. If you are willing to contribute the dataset  we can create an integrated loader. Bests,

Benedek

[2021-08-02 20:54] #85 closed

[2021-08-02 21:02] benedekrozemberczki commented on #84
Dear @omarsinnno,

Do you still need help with this? Do you want to write a custom data loader and share the dataset?

Bests,

Benedek

[2021-08-02 21:16] smatovski commented on #87
If I run the mpnnlstm_example.py. I get an MSE of 1.0663 using the Chickenpox dataset.
gconvlstm_example.py gives an MSE of 1.0904 with the Chickenpox dataset.
gclstm_example.py gives an MSE of  1.0784 with the Chickenpox dataset.
These MSE all look to be really high not sure if there is something wrong in the code or my environment.

If I replace the Chickenpox dataset with one I built. The MSE d

[2021-08-02 21:20] benedekrozemberczki commented on #87
Why would the performance be the same on two different datasets?

On Mon, 2 Aug 2021 at 22:16, smatovski ***@***.***> wrote:

[2021-08-02 21:30] omarsinnno commented on #84
Dear @benedekrozemberczki

I will upload one as soon as possible.
I think i figured out the diagonalization trick, remains to know how to use batch static graph temporal signal so that data can be loaded into memory.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benedek Rozemberczki ***@***.***>
Sent: Tuesday, August 3, 2021 12:02:23 AM
To: benedekrozember

[2021-08-02 21:30] smatovski commented on #87
Attached is my dataset SC_Graph_synthetic.xlsx. the edge index is
np.array([[0,5],[1,14],[1,15],[2,6],[2,9],[3,5],[3,9],[4,7],[4,15],[4,9],[5,10],[5,8],[6,8],[7,12],[7,11],[8,12],[9,19],[10,16],
                                 [10,12],[11,12],[11,13],[11,19],[12,18],[12,17],[12,16],[13,18],[13,17],[14,5],[14,6],[14,7],[15,6],[15,7]]).T
The graph is static. Also attached is a loader I created. SC_

[2021-08-02 21:34] smatovski commented on #87
I'm not sure why the code examples from the repo have a similar MSE. I did not modify them only ran the code on my local environment/machine. Using Acondana for my python environment.

[2021-08-03 01:21] smatovski commented on #87
I copied the code from the Epidemiological Forecasting, https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/introduction.html#epidemiological-forecasting, and ran it. I receive an MSE of 1.0232, not 0.6866. Can you please explain why?

[2021-08-03 06:47] omarsinnno commented on #84
Here is a data loader I made while reading the code for the chicken pox dataloader:

[code]
My apologies if the code is messy;
**bsk_data.json**: JSON file having the following structure

[code]
The rest of the methods are the same as the chicken pox dataloader, the **_get_edge_weights** is modified so that it creates one per timestamp and stores them in a dictionary **self.container**.

1. I'm no

[2021-08-03 08:28] benedekrozemberczki commented on #87
Different datasets have a different loss value.

On Tue, 3 Aug 2021 at 02:21, smatovski ***@***.***> wrote:

[2021-08-03 12:38] smatovski commented on #87
But if I copy the code from GitHub shouldn't I get similar results? Your example on Epidemiological Forecasting shows an MSE of .6866. I run the exact same code and got an MSE of 1.0232.

[2021-08-03 12:44] benedekrozemberczki commented on #87
That is fine, the read the docs should be updated.

On Tue, 3 Aug 2021 at 13:38, smatovski ***@***.***> wrote:

[2021-08-03 12:55] smatovski commented on #87
Doesn't an MSE of 1.0232 mean the model is not predicting values correctly?

[2021-08-03 13:12] benedekrozemberczki commented on #87
It means that out of sample it is roughly random - it can be distribution
shift, seasonality, and trends.

On Tue, 3 Aug 2021 at 13:55, smatovski ***@***.***> wrote:

[2021-08-03 13:28] smatovski commented on #87
Ok, so the example code evaluate the dataset and comes back with the conclusion that the dataset is very random. Meaning my dataset, SC_Graph_synthetic, is not very random.
I want to understand how I can get one of the models to predict the target values. Do I need more data, a different model, ...

[2021-08-03 16:02] benedekrozemberczki commented on #87
Yes, that is something that you have to experiment with.

On Tue, 3 Aug 2021 at 14:29, smatovski ***@***.***> wrote:

[2021-08-03 16:02] #87 closed

[2021-08-03 16:03] benedekrozemberczki commented on #84
Each temporal snapshot is a graph batch (e.g. like molecules).

[2021-08-03 16:03] #84 closed

[2021-08-03 16:04] benedekrozemberczki commented on #87
@smatovski Could you star the repo?

[2021-08-03 21:30] smatovski commented on #87
Started a repo of my code and dataset. https://github.com/smatovski/GNN_Supply_Chain (currently private)

[2021-08-04 04:09] AnibalGeoSpock opened #88 "Documentation: class A3TGCN, wrong paper link"
In the repo

`A3T-GCN from Zhu et al.: A3T-GCN: Attention Temporal Graph Convolutional Network for Traffic Forecasting` linking to [https://arxiv.org/abs/2006.11583](https://arxiv.org/abs/2006.11583).

In the documentation the class A3TGCN, the description states:
`An implementation of the Temporal Graph Convolutional Gated Recurrent Cell. For details see this paper: “T-GCN: A Temporal Graph Convo

[2021-08-04 08:34] benedekrozemberczki commented on #88
Precisely t should read as:

and it should read:
An implementation of the Attention Temporal Graph Convolutional Network for Traffic Forecasting. For details see this paper: “A3T-GCN: Attention Temporal Graph Convolutional Network for Traffic Forecasting.”
linking to: https://arxiv.org/abs/2006.11583.

[2021-08-04 08:34] #88 closed

[2021-08-05 05:51] shawnwang-tech opened #89 "How to use METRLADataset?"
Hi, thanks for this helpful project!
But I have few questions.
How to use METRLADataset (which has 12 in steps and 12 out steps, with feature number higher than 1). The examples you provided are all about ChickenpoxDataset which has 4 in steps and 1 out step. And it seems that you use feature dimension to represent the historical steps. It's a bit confusion. Could you please provide examples using

[2021-08-05 07:54] MoRoBe-Work commented on #89
Hi,
I believe the two features are the normalized velocity and the time of day encoded as a value between 0 and 1. So the shape of the data should be (num_nodes x velocity + time of day (2) x num_timesteps(12)). I haven't used the dataset for a while, does this fit the dimensions you're getting? Be careful with this information though, I am just a user of the code as well and was in no way involve

[2021-08-05 08:41] benedekrozemberczki commented on #89
Dear @shawnwang-tech,

@paulmorio did the integration. Paul! Do you want to comment on this?

Bests,

Benedek

[2021-08-05 08:41] #89 closed

[2021-08-05 09:06] shawnwang-tech commented on #89
@MoRoBe-Work @benedekrozemberczki @paulmorio
Thanks for the reply!
From https://github.com/benedekrozemberczki/pytorch_geometric_temporal/issues/72, I know that pyg-temporal provide the layers rather than the whole model. For example, we need to write the encoder-decoder to use DCRNN Layer? But why the ChickenpoxDataset case (https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/introd

[2021-08-06 10:56] HYTYH opened #90 "In PEMS-BAY dataset, Why are some speed data negative and how the time data normalized?"
I'm confused with speed data since some of them are negative, Since some of time data are negative too, I wondered how time data normalized? In the original paper(DCRNN), the time data normalized to [0, 1]. For example, 0 -> 0am, 0.5 -> 12pm.

[2021-08-08 01:09] icecity96 commented on #80
Another problem is the GCN.weight in EvolveGCN should set the `requires_grad` to `False`. Since this weight is not trainable.

[2021-08-08 10:06] maqy1995 commented on #80
Hi @icecity96, thanks for your reply.
From the official code, the weight of GCN seems not set `requires_grad` to `False`, which means it should be trainable, see here:
https://github.com/IBM/EvolveGCN/blob/90869062bbc98d56935e3d92e1d9b1b4c25be593/egcn_o.py#L56

To the second problem:
`self.toy_model.weight.data = torch.nn.parameter.Parameter(W)` is work in this toy demo, but not work in `EvolveGCN

[2021-08-11 07:47] mkrech opened #91 "[Question] Is there a standard way, example to use my own dataset?"
Hi all,
I want to do some traffic forecast and have a dataset.

Is there a standard way or example to use my own dataset?

kindly regards

[2021-08-11 09:40] paulamartingonzalez commented on #91
There are [docs in the website](https://pytorch-geometric.readthedocs.io/en/latest/notes/create_dataset.html). I did this recently and used [this video ](https://www.youtube.com/watch?v=QLIkOtKS4os&t=295s) together with the docs. Hope it helps!

[2021-08-11 14:16] paulmorio commented on #89
Hi @shawnwang-tech,

Thanks for the interest in the library. Every observation in the dataset produced by METRLADatasetLoader is a data object which has an x attribute of the shape (207, 2, 12) corresponding to (num_nodes, node_features, num_time_steps); the y attribute has shape (207, 12) corresponding to (node_target_of_interest, num_time_steps).

You can see this by doing
[code]

So that in the

[2021-08-11 15:50] mkrech commented on #91
Thank you for your answer, I will hav a look into the class :)

kindly regards
michael

[2021-08-11 16:23] #91 closed

[2021-08-12 02:02] shawnwang-tech commented on #89
Hi @paulmorio
Thank you so much!
I think I get what you mean. And I will try to implement those ST-GNNs on the traffic data. If that works, I would like to open a pull request, and ask you for help to review the code. More over, I used to contribute example code to PyG. And I really love the PyG and PyG-temporal ecology!
Best,
Shawn

[2021-08-16 11:11] #90 closed

[2021-08-23 05:57] wondergo2017 opened #92 "GC-LSTM code is slightly inconsistent with paper"
It seems the implementation of GC-LSTM is slightly different from the original paper.

In codes, c(t)=f(t) * c(t-1) + i(t)*cbar(t).

However, in paper , it should be, c(t)= f(t) * ChebConv(c(t-1)) + i(t)*cbar(t).

[2021-08-23 13:02] krzysztoffiok opened #93 "temporal graph classification"
I'm wondering if there is an example of classification carried out for data represented as temporal graphs?

To be precise: in my use case I have for instance a sequence of 100 graphs representing together a single entity/object. Next, I have 200 entities. Is there an easy way to input those 200 data instances (with ground truth classification labels) to one of the numerous deep learning architect

[2021-08-24 08:15] alexriedel1 commented on #93
Hey!
Yes you can also use the implemented methods for classification, see the example here:
https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/b9bcb7377d63dcbf5f21448d09be5a8df0f9619e/examples/recurrent/agcrn_example.py#L16-L24

If you have 20 classes in your dataset you define let's say `out_channels = 20` and remove the linear layer, or keep it and adjust the layer dimensions

[2021-08-24 08:32] krzysztoffiok commented on #93
Sounds great @alexriedel1 , OK, thank you, I'll give it a try.

[2021-08-24 08:40] alexriedel1 commented on #93
But keep in mind that the recurrent network might not be the best fit for a classification task, it's just an example on how to use the library! Maybe consider using ST-GCN for a classification task as described in this article https://medium.com/axinc-ai/st-gcn-a-machine-learning-model-for-detecting-human-actions-from-skeletons-46a95b31b5db

[2021-08-24 08:47] krzysztoffiok commented on #93
Hmm, thank you again. I was hoping for an architecture that could create meaningful representation of a dynamic graph i.e., a vector of features that would neatly represent the whole sequence of static graphs (a dynamic graph). I believed that an analogy to the NLP world exists like that a sentence/sequence of tokens can be represented/converted by a trained recurrent network as a single 'text ins

[2021-08-24 08:55] alexriedel1 commented on #93
Yes thats totally possible, I just thought attention might be the better choice.. But you can of course also go with a recurrent model.

[2021-08-24 08:59] krzysztoffiok commented on #93
If I get this working, I'm sure I'll try both! Thank you again.

[2021-08-30 13:49] petergroth opened #96 "Combining multiple StaticGraphTemporalSignal objects into StaticGraphTemporalSignalBatch objects"
Hi,

I've created a Dataset object which currently returns a single sequence (StaticGraphTemporalSignal) from a directory of many sequences. When feeding this to a DataLoader, I receive lists of length batch_size instead of batched objects. Is there a straightforward procedure of combining multiple StaticGraphTemporalSignal objects into a StaticGraphTemporalSignalBatch object?
I have not found any

[2021-08-30 14:17] benedekrozemberczki commented on #96
Hi Peter, you can use the diagonal batching trick that is used to scale graph neural networks. I recommend reading the original PyTorch Geometric documentation. If you are willing to share the dataset we can write a tutorial based on your dataset. Bests, Benedek

[2021-08-31 07:42] #92 closed

[2021-08-31 07:43] #80 closed

[2021-08-31 07:43] benedekrozemberczki commented on #93
Dear @krzysztoffiok,

Do you want to share the dataset?

[2021-08-31 07:43] benedekrozemberczki commented on #96
What do you think @petergroth ?

[2021-08-31 10:38] petergroth commented on #96
Hi - and thanks for your quick reply! That sounds like an interesting idea. I'm working with simple simulated data so it shouldn't be an issue. How should we proceed?

[2021-08-31 11:44] krzysztoffiok commented on #93
Dear @benedekrozemberczki, thank you for taking an interest in my issue. The data I'm working with is a fragment of fMRI data from the Human Connectome Project. I'm still in the process of deciding exact procedures for extraction of node and edge features from the data. I already did some experiments (with static graphs, GNNs from the https://github.com/rusty1s/pytorch_geometric package and with u

[2021-08-31 11:47] petergroth commented on #96
The overall end-goal for me is to end up with a DataLoader-like structure with a variable batch_size so I can determine how many sequences I'd like to process simultaneously.  I imagine that each sequence of graphs will be saved locally as StaticGraphTemporalSignal objects. The tricky part is then designing a data structure which can combine a number of these as StaticGraphTemporalSignalBatch obje

[2021-09-01 05:17] SherylHYX commented on #80
From https://github.com/IBM/EvolveGCN/blob/90869062bbc98d56935e3d92e1d9b1b4c25be593/egcn_o.py#L77 I guess https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/439d9af14bf3303835296258fa415aea1d6c782e/torch_geometric_temporal/nn/recurrent/evolvegcno.py#L47 should even be GRU instead of LSTM, but as input we have ```_, W = self.recurrent_layer(W,W)``` but this still cannot solve th

[2021-09-01 05:23] SherylHYX commented on #80
The problem could be that the weights of recurrent layer are not updated. I will have a closer look later.

[2021-09-01 07:55] SherylHYX commented on #80
I tested the mat_GRU_cell class from the original implementation as our recurrent_layer, which would work. The problem might be related to the use of the single-layer LSTM/GRU. The original implementation writes out the GRU functionality explicitly while here we use GRU from torch. Treating the length as one might be problematic.

[2021-09-01 08:21] SherylHYX commented on #80
Another difference is that the bias in the original implementation is a matrix while in GRU/LSTM bias is a vector. Therefore, for the example given, the number of recurrent parameters inside the EvolveGCNO class is 4*4*9=144 for the original implementation while that is 12*10=120 for GRU and 16*10=160 for LSTM.

[2021-09-01 11:22] SherylHYX commented on #80
The difference is due to tangent: @maqy1995 . If you do the following, you would obtain the same result:
[code]
Result:
[code]

[2021-09-01 11:22] SherylHYX commented on #80
The difference is due to tangent: @maqy1995 . If you do the following, you would obtain the same result:
[code]
Result:
[code]

[2021-09-01 11:26] SherylHYX commented on #80
Yes, I agree that the weight should be updated by GRU/LSTM instead of GCN unless GCN has bias. However, unfortunately, doing this would not solve the problem of losing the gradient of GRU/LSTM.

[2021-09-02 04:20] SherylHYX commented on #80
The reason why the gradient is lost is perhaps that the weights in the recurrent layer GRU/LSTM are viewed as intermediate nodes in the computation graph. See https://stackoverflow.com/questions/58421637/pytorch-gradients-not-calculated-for-parameters. Here is an issue related https://github.com/pytorch/pytorch/issues/31185.

[2021-09-04 04:18] jbgao opened #98 "RNN hidden state passing"
First thank you all the developer for making this geometric temporal.  Very useful.

I started learning the first example at https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/introduction.html#applications and traced the program.  I note that the RNN hidden state is not passed from one snap to the next snap as for the next snap the program always set H = NONE which means all zeros.

[2021-09-04 20:22] benedekrozemberczki commented on #98
Yes it can be. It is an illustrative example with resetting the hidden states. Please look at the example in the paper.

[2021-09-04 20:22] #98 closed

[2021-09-04 20:22] benedekrozemberczki commented on #93
How is it going?

[2021-09-07 09:31] krzysztoffiok commented on #93
Sorry for responding late, this is of course not my only project and I had to do other things first.

As for now I'm stuck in a situation where I wanted to implement a following baseline approach:
1) obtain a sequence of static graphs for each patient/recording from the fMRI data. Rationale: the fMRI time series recordings differ in length between recording sessions, but anyway each recording can

[2021-09-08 08:31] alexriedel1 commented on #93
Hey @krzysztoffiok,
after taking a quick look at your data, it seems that
1) interpreting the edge_index, each node is connected with every other node at every time step, is that correct and supposed to be?
2) all your classification labels are 0 which makes it difficult to come up with a baseline solution for classification on this series

[2021-09-08 08:41] krzysztoffiok commented on #93
Hi @alexriedel1 ,

regarding 1) yes, this is exactly the case, as the assumption is that the brain regions are connected with each other and only the "strength" of the connection represented by the edge_attribute varies, and
regarding 2) yes, this is a part of the data set that represents the same task here labeled as '0'. The other parts of the data set look exactly the same regarding the format/

[2021-09-08 08:52] alexriedel1 commented on #93
Hi @krzysztoffiok,
ok i got it! Yes it would be awesome if you can upload a dataset with one other task, so it would be worth a try to train a binary classifier at first!

Also for my understanding: in the dataset you provided, 15 consecutive graphs belong to one patient so they should be treated as a sequence right? Will each of those sequences in the shape of `#Sequence, Nodes, Features -> (15,

[2021-09-08 08:56] krzysztoffiok commented on #93
@alexriedel1,

Again thank you for your interest.

Please give me a moment to prepare and upload the 2nd part of the data set.

Yes this is exactly the case, you understand correctly.

[2021-09-08 09:04] krzysztoffiok commented on #93
@alexriedel1

This should be it.

[hcp_17_51_relational_-2_ts.zip](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/files/7127483/hcp_17_51_relational_-2_ts.zip)

[2021-09-08 20:43] alexriedel1 commented on #93
Hey,
I worked some stuff out on the data set. I gave some remarks in the code about the things I tried. Basically I trained a model without considering the edge weights but only the node features.

It's giving a high accuracy on both a train and validation split. Anyway the dataset provided is really small with the 102 graph sequences and it's only a binary classifier so I'm not sure if the result

[2021-09-09 07:45] krzysztoffiok commented on #93
@alexriedel1
I can't find words to thank you. I have briefly reviewed your example and I believe that after looking into it a while longer it will let me understand the framework and how I should proceed. This is very helpful especially regarding how to shape the data in order to feed it to the model.

The very high accuracy you have obtained is very likely, as these data represent seriously varyi

[2021-09-09 07:57] #93 closed

[2021-09-09 09:45] alexriedel1 commented on #93
You're welcome @krzysztoffiok !
I got your explanation regarding the features. If the edge weights are only computed from the node feauture data, you might want to give the job to the neural network as well. It sometimes might show better results than traditional well established methods.

Do you mind using the two dataset you provided for this repository? I would like to add that sequence classif

[2021-09-09 10:30] krzysztoffiok commented on #93
@alexriedel1

I'm glad regarding the explanations. It seems an idea to consider.

Yeah it is true the current examples regarding forecasting made me write the issue regarding classification in the first place.

I think there should be no problem with that since HCP is a publicly available data set, only maybe it will be better if I provide you with the data for all 7 task-based recordings there ar

[2021-09-09 12:05] krzysztoffiok commented on #93
@alexriedel1
can I ask you if there is an easy way to make this example work for multi class problems? I presume it shouldn't be too complicated, but somehow I fail...

Also, I have tried your code on another similar data set with binary classification (fMRI resting state data and gender prediction, this is a frequent binary task, quite challenging normally) and there the training accuracy goes hi

[2021-09-09 12:16] alexriedel1 commented on #93
@krzysztoffiok
Hey, i have modified the code to work with multiple classes, you find the parameter `num_classes = 2` for this purpose.

Also I have added another model based on `STConv` (https://pytorch-geometric-temporal.readthedocs.io/en/latest/modules/root.html#torch_geometric_temporal.nn.attention.stgcn.STConv) maybe this one works better for your other classification task.

Also if a model is

[2021-09-09 12:17] krzysztoffiok commented on #93
@alexriedel1  Thank you again very much. I'll work with your code and get back to you and hopefully share both data sets.

[2021-09-10 14:39] always-ready2learn opened #101 "edge data in st gcn"
Hi,

The stgcn model seems to take targets against node features only, Is it possible to pass in node and edge features but define targets against edges i.e. edge_weights for link prediction / classification?

TIA

[2021-09-10 14:54] benedekrozemberczki commented on #101
Yes, there is no reason not to - did you try this?

[2021-09-10 14:54] #101 closed

[2021-09-10 15:24] always-ready2learn commented on #101
Apologies, I should have mentioned data iterator instead of stgcn to be more precise. I am using staticgraphtemporalsignal iterator for my graph. I’ll then iterate and train on st-gcn to get edge prediction. I sort of know how to do edge prediction on stgcn. Im stuck at defining data. I want to pass node features, edge features, edge index, targets against edge features in staticgraphtemporalsigna

[2021-09-10 15:39] always-ready2learn commented on #101
This is what I get :
assert len(self.features) == len(
            self.targets), "Temporal dimension inconsistency."

[2021-09-10 15:47] benedekrozemberczki commented on #101
Okay, let me create this week a modification of the iterator classes which
allows you to do this - alternatively you can concatenate your edge
features and the edge target and by an indexing trick get separate them
when these are on GPU - might be tricky with respect to typing.

On Fri, 10 Sept 2021 at 16:39, always-ready2learn ***@***.***>
wrote:

[2021-09-10 22:09] always-ready2learn commented on #101
Thank you..

[2021-09-13 15:33] krzysztoffiok commented on #93
Hi @alexriedel1

Regarding the data it is tricky because in theory anyone who wishes to work with this data should head to http://www.humanconnectomeproject.org/data/ and obtain a personal permission.

So maybe a possible work-around would be to for instance modify the data by adding some random signals/noise so that it retains only the shape/structure? Just thinking out loud.

[2021-09-16 09:48] krzysztoffiok commented on #93
@alexriedel1
Can I ask one more thing, namely how can I pass a batch of DynamicGraphTemporalSignal objects to the model?

Let's assume I'm using this example model:
class AGCN_temporal(torch.nn.Module):
    def __init__(self, edge_index, max_number_of_node_features, number_of_graph_nodes, number_of_static_graphs,
                 number_of_classes, edge_weight):
        super(AGCN_temporal, self).

[2021-09-24 19:29] soumbane opened #102 "Attention GCN example"
Hi,

I am trying to work with the attention based STGCN by using STConv. However, I am get some shape matching errors. Could you provide an example of the attention based stgcn similar to how you provided examples for recurrent based DCRNN.

Also how to use the batched static signal iterator to generate batches of static graph temporal signal to be used by stgcn?

Thank you for your help.

[2021-09-25 08:16] benedekrozemberczki commented on #102
Look at the examples folder.

[2021-09-25 08:17] #102 closed

[2021-09-25 08:17] #96 closed

[2021-09-25 15:15] soumbane commented on #102
Yes, I looked at the examples folder but there are only examples of recurrent models such as DCRNN. I am new to this topic, so I was looking for temporal graph attention layers such as examples of STConv layer. Would it be possible to add an example of STConv on the example dataset (Chicken Pox dataset)?

[2021-09-27 12:45] Flunzmas commented on #96
I am a situation which seems to be very similar to that of @petergroth, meaning that I'd like use a custom DataLoader to automatically pack `Signal` objects loaded in parallel into the respective `Batch` objects and unpacking them on demand. Since this was closed without me seeing any apparent solution given or commit made, I figured I'd share my custom `DataLoader` class for PYGT in [this gist](h

[2021-09-28 05:29] DongDChen opened #103 "python setup.py test error"
Hi

when I perform the command "python setup.py test", It comes to the error:
ERROR test/attention_test.py - OSError: [WinError 127] Cannot find the specified program，
ERROR test/batch_test.py - OSError: [WinError 127] Cannot find the specified program，
ERROR test/dataset_test.py - OSError: [WinError 127] Cannot find the specified program，
ERROR test/recurrent_test.py - OSError: [WinError 127] Can

[2021-09-30 20:21] kevinkorfmann commented on #96
@Flunzmas Thank you for sharing your dataloader. Seems to be exactly what I need as well, I am working with a large set of DynamicGraphTemporalSignal objects. And additionally the number of dynamic graphs  in each object is variable as well, though of a similar size. Do you think I can use your dataloader to batch them up or is your dataloader specific to a particular kind of signal?

[2021-10-01 15:14] MoRoBe-Work opened #104 "Number of channels does not change model performance substantially"
Dear Benedek (and whoever else may read this and have an idea what's going wrong,

I have been trying to use your implementation of the A3T-GCN model for traffic prediction as in the original paper for several months now. Although there is a certain success, there are some questions I was not able to answer through analysis of the code and it's execution. Therefore I hope you might be able to give

[2021-10-04 14:28] Flunzmas commented on #96
From my understanding, you have temporal sequences of varying length in your signal object - this means that the Batch objects created for the later timesteps are compositions of fewer graphs.
- In the gist provided, remove the length consistency check in line 41.
- Replace the list comprehension in line 45 by a loop that can assemble the batches per timestep t by taking extracting graphs from all

[2021-10-13 09:26] haijunkenan opened #107 "No module named 'torch_geometric.typing"
![image](https://user-images.githubusercontent.com/20920484/137106098-54c7b654-c5ad-4d8b-b47a-fa8a32735feb.png)

[2021-10-13 09:26] #103 closed, assigned to nobody

[2021-10-13 09:27] haijunkenan commented on #103
I fixed this when dealing with another problem...

[2021-10-25 12:35] kevinkorfmann opened #108 "Attention mechanism for DynamicGraphTemporalSignal"
Thanks for making this library, it is super useful for my area of research.

I am looking for an temporal attention mechanism for a dataset of DynamicGraphTemporalSignal objects, while looking through the different options, it seems that many are constraint, e.g. STConv seems to only work on StaticGraphDiscreteSignal objects or  A3TGCN wants to know the number of time steps in advance.

In my data

[2021-10-26 13:34] #108 closed, assigned to nobody

[2021-10-29 22:13] naman-ali opened #109 "Using vectors for each time step in TGCN?"
In TGCN, how can I use a vector containing multiple values (instead of just a value) for each time step as node features?

If you can recommend any other work that supports this, that would be great too.

[2021-10-30 10:34] benedekrozemberczki commented on #109
What do you mean?

[2021-10-30 15:17] naman-ali commented on #109
In TGCN, a node feature is vector with the length of time steps. For each time step, there is only one value (speed) specified, which will be predicted at the end for t+1.

I am dealing with a problem that I need to predict multiple values (not just speed) for each time step.

For example, assume at time t+1 I want to predict each individual cars speeds that are in the road (not only one speed for

[2021-10-30 15:44] benedekrozemberczki commented on #109
Dear Ali,

You can pass in a matrix as a target.

Could you start the repo and hit follow?

Bests,
Benedek

On Sat, 30 Oct 2021 at 16:17, Ali Naman ***@***.***> wrote:

[2021-11-01 19:03] SANGDONKIM opened #110 "What does the 'X' in the pedalme dataset json file mean?"
Hi,

What does the 'X' in the pedalme dataset json file mean?

I thought of it as a target.

But are the 'demand' of the original csv file and the 'X' of the json file different?

CSV data link : https://github.com/benedekrozemberczki/spatiotemporal_datasets

[2021-11-02 18:01] #109 closed

[2021-11-02 18:01] benedekrozemberczki commented on #110
These are normalized as the paper states.

[2021-11-02 18:01] #110 closed

[2021-11-02 18:02] #107 closed

[2021-11-02 22:22] naman-ali commented on #109
Thank you Benedek.

What do you mean by starting the repo? and follow?

[2021-11-03 07:34] alexriedel1 commented on #109
![image](https://user-images.githubusercontent.com/54716527/140023252-24f4ba42-f092-4ce1-be23-7f2676757817.png)
👍

[2021-11-03 12:10] naman-ali commented on #109
Thank you Alex, so Benedek meant star, not start. Got it.

[2021-11-07 13:18] DXiao-Github commented on #93
Hi @krzysztoffiok, thank you for posting this question! The solution has been most helpful for my learning task for a different application.

@alexriedel1, thank you for your most helpful assistance on this problem. At the start, you mentioned the proposed solution does not consider edge information. I was wondering how the model could be amended to consider edge information? Particularly not just

[2021-11-08 18:13] SANGDONKIM opened #111 "out of bounds for dimension error"
Hi,

I'm trying to use the gclstm model.

The following error occurs.

I adjusted the value of filter because a dimension error occurred.

However, another error occurs.
![image](https://user-images.githubusercontent.com/49220904/140797164-20c3b2fc-8fb6-4d61-aedf-e001f2dd987d.png)
![image](https://user-images.githubusercontent.com/49220904/140797197-adac0a58-c070-4578-8656-2e056c3f5cc3.png)

![ima

[2021-11-08 18:17] benedekrozemberczki commented on #111
Can you provide more details?

[2021-11-08 18:22] SANGDONKIM commented on #111
I provided additional information.

Need more information?

It's difficult because I don't understand the cause of the error...

[2021-11-11 11:14] alexriedel1 commented on #111
@SANGDONKIM  can you give a minimal working example to reproduce the error?

[2021-11-16 10:54] SANGDONKIM commented on #111
I checked the pedalme dataset's source file and tried to make the dataset identical.

This was the wrong approach, and when I reconstructed the dataset in the form of a chicken box dataset, it returns without error.

@alexriedel1

Although the data set format is the same as the example reproduced by alexriedel1, the cause of the error has not yet been found.

Thanks so much for replying

[2021-11-16 10:57] #111 closed

[2021-11-22 18:17] ekurtgl opened #112 "Handling Varying Length Input Sequences"
Hi,

I am trying to use pytorch_geometric_temporal framework to make prediction for varying length time-series data, but I couldn't see any example of how varying time dimension is handled in any of the datasets. All of them have fixed time-length. Also how batching  can be handled when we have varying lengths? Using batch size of 1 might be an option but it would slow down the training process. I

[2021-11-22 18:44] alexriedel1 commented on #112
One easy approach for your problem is zero-padding. If it works well or not might depend on your data though

[2021-11-22 19:08] ekurtgl commented on #112
It was not really a good option for my case with LSTMs. So, I ended up using varying length sequences with them. I wonder if any of pytorch_geometric_temporal layers can handle varying length sequences. I also reviewed the documentation of this module but I was not able to find any examples with custom datasets. I am kind of new with GNNs and I was able to create my own non-temporal datasets follo

[2021-11-24 06:12] ThisisHubert commented on #111
I have a question about this as I'm implementing a model using GCLSTM,
correct me if my understanding is wrong, shouldn't it be DynamicGraphStaticSignal for GCLSTM as the paper mentioned that only the edge on the graph is changing?

[2021-11-24 18:27] ThisisHubert opened #113 "Link prediction from time-series single cell data"
Hi, this is my first experience using temporal graph for my research and I have a few questions.

1. How many graph snapshots (dataset) are actually recommended to use the library?

2. About the sample code [here](https://pytorch-geometric-temporal.readthedocs.io/en/latest/notes/introduction.html#epidemiological-forecasting), How can reconstruct the predicted graph using decoder from this point?
[

[2021-11-27 12:28] m-ali-awan opened #114 "How to perform MultiVariate Time series Anomaly Detection"
I am working on MultiVariate Time series Anomaly Detection, and the data from the normal regime should be considered only. I can find many papers on it, but cannot find any useful resources in form of blogs or codes.

So, is there any such implementation available in pytorch_geometric_temporal, or anywhere else?

If anyone can share it here, I would be grateful for that.

Thanks,
Regards,
Muhammad

[2021-11-27 15:35] benedekrozemberczki commented on #113
Hi there @ThisisHubert,

1. It depends on the problem. It could work with 2 snapshots.
2. You could output an embedding matrix instead of a vector and calculate H * H^T - you could apply an activation function to the output matrix if you want to have certain properties (e.g. row wise normalization).
3. Yes, it exactly sounds like that.

Can you star the repo and cite the research paper?

Bests,

B

[2021-11-27 15:36] benedekrozemberczki commented on #114
Hi @m-ali-awan I do not know. You might have to go with something that you build from scratch! Could you star the repo?

[2021-11-27 15:36] #114 closed

[2021-11-27 15:37] benedekrozemberczki commented on #112
You could look at the architecture of the data loaders @ekurtgl. Could you please star the repo and cite the design paper if you us it?

[2021-11-27 15:37] #112 closed

[2021-11-27 15:44] benedekrozemberczki commented on #104
What is your exact architecture? The example does not have a proper hidden state update!

[code]
At the start of each epoch H is set to be None.

[2021-11-27 15:56] m-ali-awan commented on #114
Thanks @benedekrozemberczki , but there can be any data blocks or something from where I can start?
Kindly do post it here, if you find any.
Thanks

[2021-11-28 13:39] SANGDONKIM opened #115 "How to add node features?"
Hi,

I am analyzing using the dcrnn model implemented in pytorch geometric temporal.

I want to add another variable to the node feature, but I don't understand exactly how.

Can you give me some hint or code?

[2021-11-28 13:44] benedekrozemberczki commented on #115
Hi there,

Could you describe your problem with code and linear algebra.

Thanks.

Benedek

[2021-11-28 13:44] #115 closed

[2021-11-29 09:59] ThisisHubert commented on #113
Hi @benedekrozemberczki , thanks for the response.
Understood. I think that should work then.
For number 2, could you point me to a reference (codebase, etc.) so I can have a better understanding
The research is still a work in progress but will do as soon as I can.

[2021-11-29 10:23] benedekrozemberczki commented on #113
It is a simple matrix product, the loss you need is similar to this one:

https://github.com/benedekrozemberczki/AttentionWalk

On Mon, 29 Nov 2021 at 10:00, Hubert S ***@***.***> wrote:

[2021-11-29 13:15] ThisisHubert commented on #113
Understood. I get how the whole flow works now. Thank you! Will close this issue

[2021-11-29 13:15] #113 closed

[2021-12-08 04:47] bkj opened #116 "Shape of `y_hat` and `snapshot.y` in examples"
In the examples, `y_hat` has shape `(bs, 1)` while `snapshot.y` has shape `(bs,)`:
  https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/examples/recurrent/tgcn_example.py#L38

In the current implementation (in torch=1.9.0) `y_hat - snapshot.y` has shape `(bs, bs)`, which seems incorrect.  I think it should be: `y_hat.squeeze() - snapshot.y` instead.

[2021-12-08 04:54] bkj opened #117 "Performance vs. simple baselines"
Hello --

I ran the [DCRNN example](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/examples/recurrent/dcrnn_example.py) (plus the fix I describe in this issue: https://github.com/benedekrozemberczki/pytorch_geometric_temporal/issues/116), and get
[code]

However, if I do a simple linear regression on `dataset.features`, I seem to get a better MSE:
[code]

Couple of q

[2021-12-08 09:24] benedekrozemberczki commented on #117
Yes, one of the main take aways from the system design paper that these recurrent papers and others alike have an extremely poor performance. We played with ARIMA and recurrent GCN models struggle.

[2021-12-08 09:24] #117 closed

[2021-12-08 09:24] benedekrozemberczki commented on #116
Hi there @bkj,

Do you want to PR this?

Benedek

[2021-12-08 14:24] bkj commented on #117
Ah OK -- thanks for the response.!

To clarify -- I'm not really specifically interested in DCRNN or really the ChickenPox dataset -- I'm just curious to see a model / dataset combination where `pytorch_geometric_temporal` does well compared to a simple baseline.  Any ideas on that?

Or does your previous comment mean that these `pytorch_geometric_temporal` generally don't outperform simple baseli

[2021-12-08 14:38] benedekrozemberczki commented on #117
GMAN an the attention based models work well on everything. The recurrent
ones work poorly on problems with heterophily.

On Wed, 8 Dec 2021 at 14:24, Ben Johnson ***@***.***> wrote:

[2021-12-22 10:37] doGregor opened #121 "Support for heterogeneous graphs"
Is there a plan to add support for `pytorch_geometric` `HeteroData` graph objects as snapshots and including the `HeteroConv` wrapper for convolutional operations in your temporal layers?

[2021-12-26 12:37] elmahyai commented on #104
Making the attention weights trainable improved the training a lot for me. #122

https://www.kaggle.com/elmahy/a3t-gcn-for-traffic-forecasting

[2021-12-31 08:18] scalaboy opened #123 "test_astgcn has no edge_weight"
hi ,the attention_test.py,in test_astgcn().
the mock data has no edge_weight.

like this:
    for b in range(batch_size):
        for t in range(T):
            x, edge_index = create_mock_data(node_count, edge_per_node, node_features)
            x_seq[b, :, :, t] = x.to(device)
            if b == 0:
                edge_index_seq.append(edge_index.to(device))
            target = create_mock_ta

[2022-01-10 08:13] chlorophyllccc opened #126 "EvolveGCNO"
Hi, I would like to use the EvolveGCN for my own task, and I just went through the source code. I am a little confused.

I am wondering for EvolveGCNO here if the model keeps the weight for GCN constantly instead of updating it over time?

![image](https://user-images.githubusercontent.com/61045930/148734722-c2a0f26f-41de-4beb-9f0a-97dfd194ff37.png)

However, the model updates the weights of GCN b

[2022-01-10 08:27] SherylHYX commented on #126
Hello @chlorophyllccc , W is a copy of self.weight but only with different dimensions. Look at this example:
![image](https://user-images.githubusercontent.com/43345664/148736641-c7e8b2a3-757c-4d7a-a30b-00376142d504.png)

[2022-01-10 08:37] chlorophyllccc commented on #126
Hi @SherylHYX, Thanks for the reply!

Yeah, I am aware that changing W will affect self.weight. My question is that for every time step the input for RNN is always initial_weight.data but shouldn't we use the output of RNN from the last step?

Or have I missed something? Thanks!

[2022-01-10 08:39] SherylHYX commented on #126
The input is not always initial_weight.data because after the first epoch self.weight will no longer be None.

[2022-01-10 08:43] chlorophyllccc commented on #126
Ohhhh! I got it. Thanks for the patience!

[2022-01-10 08:44] SherylHYX commented on #126
Nice that you finally understand!

[2022-01-10 08:44] #126 closed

[2022-01-11 15:56] pflashgary opened #127 "ImportError: cannot import name 'container_abcs' from 'torch._six'"
Hi, running into this issue to install  PyTorch Geometric Temporal. This is what I did:

[code]

Then

[code]
After successfully installing all packages:

[code]

[2022-01-12 06:44] pflashgary commented on #127
It looks to me `pip install torch-geometric-temporal` uninstalls the latest version of torch-geometric (`torch-geometric-2.0.3`) and installs `torch-geometric-1.7.0`, hence the ImportError. Is there a way to avoid that?

[code]

[2022-01-13 11:36] Chrixtar commented on #127
Hi, I ran into exactly the same issue today.
The PyTorch 1.9.0 setup of PyTorch Geometric Temporal is inconsistent, as PyTorch Geometric 1.7.0 is not compatible with PyTorch 1.9.0.
Also, I would like to know about the reasons for staying with version 1.7.0. Are there major changes preventing an upgrade to 2.0 ?

[2022-01-13 12:02] benedekrozemberczki commented on #127
I do not think so, feel free to open a PR.

On Thu, 13 Jan 2022 at 11:36, Christopher Wewer ***@***.***>
wrote:

[2022-01-13 14:26] pflashgary commented on #127
Hi Chrixtar and Benedek

Sorry I should be sending a PR instead of raising an issue. Though I'm not very experienced with installing and testing python packages locally. Am I correct to assume we only need to relax this dependency [here](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/67992e0cd26ca961f98e62ff0dae2b1858833e3e/setup.py#L10):

**from**

[code]

**to**

[code]

[2022-01-18 15:33] tforgaard opened #128 "temporal_signal_split does not take into account additional attributes"
Hi,
Added additional attributes are removed after invoking the temporal_signal_split function as optional additional attributes are not passed to the initialisation method. Not sure if this is the pythonic way but it can easily be solved by adding the last line to all initialisations methods in train_test_split.py

[code]

[2022-01-19 22:33] benedekrozemberczki commented on #123
Do you want to rewrite the test @scalaboy ?

[2022-01-19 22:33] benedekrozemberczki commented on #127
We released a new version.

[2022-01-19 22:33] #127 closed

[2022-01-19 22:34] benedekrozemberczki commented on #121
Agree. We made a PyG 2.0. compatible release. Do you want to update your PR?

[2022-01-19 22:34] #121 closed

[2022-01-19 22:34] #123 closed

[2022-01-19 22:35] benedekrozemberczki commented on #128
Do you want to open a PR @tforgaard?

[2022-01-19 22:35] #128 closed

[2022-01-19 22:35] #104 closed

[2022-01-19 22:35] #116 closed

[2022-01-28 13:08] lishiyuan0709 opened #130 "How to Use a GPU"
Hello, what do I need to do if I want to use the GPU in Pytorch_geometric_temporal? My tests now show that it's all CPU use and I have CUDA10.2 and Pytorch- GPU 1.10.2 installed

[2022-01-28 20:44] benedekrozemberczki commented on #130
Hi there @lishiyuan0709 Can you be more specific?

[2022-01-29 02:31] lishiyuan0709 commented on #130
It is that I ran the sample code in Pytorch_geometric_temporal, but I found that the program is running on CPU and it is running slow, I want to run it on GPU, but I can't how to run it. I already have Pytorch and Pytorch-geometric installed for CUDA 10.2.

[2022-01-29 20:53] bezirganyan opened #131 "Expected input shapes of the parameters"
Hello,
I am currently trying to develop a GNN architecture for my thesis, and what makes the process really hard is that  there is no indication what the expected shapes of the input parameters shall be. For example, I am currently using the MPNNLSTM module, and I have a hard time trying to make it work with a window other than one. I guessed that my input shall be `[window x node_count x feature_

[2022-01-29 21:04] benedekrozemberczki commented on #131
How about you add it? Nice learning experience, becoming an open source contributor - it is pretty empowering.

[2022-01-29 21:04] #131 closed

[2022-01-29 21:51] bezirganyan commented on #131
Thanks for the suggestion, and I gladly would add it, the problem is I am not nearly as familiar to the modules and architectures as the people who developed them. I opened the issue, as I believed that it would take not much time for the original developers to add the shapes, while I am still trying to figure out what the input shape of the MPNNLSTM has to be. If that's not that easy I will be ha

[2022-01-31 13:42] josephenguehard opened #132 "__get_item__ or __getitem__"
Hi,

Thanks for this very nice library! I was just wandering, is there a reason for using `__get_item__` instead of the magic method `__getitem__` in the Signal?  For instance here: https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/90fc89e233fd3fd6117bcd7b5746819c496bc980/torch_geometric_temporal/signal/static_graph_temporal_signal.py#L103

Using `__getitem__` would allow the

[2022-01-31 22:14] benedekrozemberczki commented on #132
Hi there @josephenguehard! Do you want to open a PR with refactoring the getitem methods in the signals?

[2022-01-31 22:15] benedekrozemberczki commented on #130
You can transfer the model and the snapshots.

[2022-01-31 22:15] #130 closed

[2022-02-01 10:18] josephenguehard commented on #132
Sounds good, will do it later today!

[2022-02-01 10:18] #132 closed

[2022-02-02 16:58] lishiyuan0709 commented on #130
I'll give it a try

[2022-02-02 19:41] airalcorn2 commented on #98
@benedekrozemberczki - I agree with @jbgao that the example in the documentation is confusing. RNNs maintain a hidden state across time steps, which is what distinguishes them from a standard feedforward neural network, so the example to me suggests the hidden state is being managed internally by `DCRNN`, but that's not actually the case. I also found the comment that "the final non-linearity is n

[2022-02-03 17:31] BraveDistribution opened #134 "How to batch this specific use-case."
In the first place, let me thank you for this library.

I have a specific scenario and I'd like to use your library to implement it, however I haven't found an example in the docs.

Simplified example:
We have 10 graphs that depicts spheres (mesh of a sphere). The spheres are moving on a plane (so each node has a feature "x", that is being changed over time. The edge connectivity stays the same. T

[2022-02-03 19:01] benedekrozemberczki commented on #134
Hi there, you should use diagonal batching. You have a static graph with changing signal, the direct indexing of snapshots allows arbitrary splits.

[2022-02-03 19:08] BraveDistribution commented on #134
Got it.

If I understand you correctly, this will be a good reference for other people:

https://pytorch-geometric.readthedocs.io/en/latest/notes/batching.html

So, just combine all the graphs into one big graph, but the subgraphs will not be connected. I'll post here a reference to an example sheet if I am able to make it work.

[2022-02-03 19:20] benedekrozemberczki commented on #134
Exacty, that is what you need. Happy to guid you throughtcontributing and merge your code later. Do you want to share the data too?

[2022-02-03 19:22] BraveDistribution commented on #134
I'll share the data and code once I get it to work. Thanks! I'll submit a PR.

[2022-02-05 10:52] MichaelHopwood opened #135 "Temporal, multigraph with temporal node features"
I'm looking to conduct a temporal prediction task with all of the following simultaneous properties:
1) Single or Multiple edge features (data can be consolidated to one feature although multiple exist in domain)
2) The adjacencies are temporal
3) Exogeneous temporal node features (X data)
4) Endogenous temporal node feature (to be predicted).

To be clear, the task is a node-level temporal predic

[2022-02-05 14:52] benedekrozemberczki commented on #135
You could parametrize the edge weights based on edge features with a neural net. From that point it is a vanilla dynamic graph temporal signal problem.

[2022-02-05 14:52] #135 closed

[2022-02-05 14:52] #134 closed

[2022-02-13 13:59] BaseMax opened #137 "How to setup and running examples"
#### Installing
[code]
#### cd examples

[code]

#### Running an example

[code]

[2022-02-13 14:06] benedekrozemberczki commented on #137
Hi there, I would recommend installing Pytorch Geometric and Scatter beforehand. After that I would suggest using pip. @BaseMax could you star the repo?

[2022-02-19 19:44] #137 closed

[2022-02-20 20:20] vishalmhjn opened #139 "Handling missing data"
In the case of multivariate graph time-series, it is common to come across missing data points (e.g., some nodes don't have data some of the time asynchronously). Is there any method implemented to handle the missing data?
Thanks in advance.

[2022-02-21 16:35] BaseMax opened #140 "Run on cuda 11.1 at Colab"
Hi Benedek,

I am going to use/run this project in colab.

![image](https://user-images.githubusercontent.com/2658040/154988918-f66baffc-23e1-4df2-9d6d-6082faec2037.png)

Does you have a "colab" project which can share to me? I think its really is a good showcase to add colab.

By the way, I am going to run in a colab. and CUDA version 11.1 installed on the colab. Does this project support version

[2022-02-21 17:07] BaseMax commented on #140
Seems this working with CUDA 11.1 in colab.

#### `nvcc --version`

[code]
![image](https://user-images.githubusercontent.com/2658040/154999263-266f81bf-8591-4c11-be0d-bb4319b5927a.png)

[2022-02-21 18:23] benedekrozemberczki commented on #140
@BaseMax That is great. May I ask what is your use case?

[2022-02-23 16:49] BaseMax commented on #140
Thank you @benedekrozemberczki.

[code]

I am going to run other methods on the Wikipedia model. Can you please guide me?

I mean other than GConvGRU.
- GConvLSTM
- GCLSTM
- LRGCN
etc

[2022-02-23 21:04] benedekrozemberczki commented on #140
Hi there @BaseMax,

I hope that these can help:

https://github.com/benedekrozemberczki/pytorch_geometric_temporal/tree/master/examples/recurrent

Could you star the repo?

Bests,

Benedek

[2022-02-23 21:52] BaseMax commented on #140
I star the repository.

https://github.com/benedekrozemberczki/pytorch_geometric_temporal/tree/master/examples/recurrent

They programs are for other datasets. I want to check the different methods just on **Wikipedia** dataset.

I want to run different method on Wikipedia dataset, which you presented at the article.
Can you help me?

Source code of that program which you presented in article abou

[2022-02-23 21:59] BaseMax commented on #140
I mean this table and that data:

![image](https://user-images.githubusercontent.com/2658040/155415861-a2ece088-e1ec-484b-909e-55a5def64413.png)

[2022-02-23 22:08] BaseMax opened #141 "Question: Running GConvLSTM on Wiki data"
Source code:
[code]

-------

[code]

Error:
[code]

I welcome any help.

Thanks in advance.

[2022-03-04 09:17] Adricu8 opened #143 "GConvLSTM & GCLSTM h & c (hidden and cell states) parameters initialization."
In the examples recurrent folder, for these two architectures, h & c are initialized to None before the training. Then, they are not re-initialized before the test phase. Is this correct? Could this create some kind of leak? I.e. training information is leaked to the test phase.

[2022-03-04 15:22] BaseMax commented on #141
I welcome any guidance.
Thanks in advance.

[2022-03-14 05:37] jiayilong opened #144 "GCN layers in TGCN"
Hi, I am wondering why we use different GCN layers to calculate X for the update gate, reset gate and candidate hidden state of GRU in the TGCN model?

In the source code, a GCN layer is created under each GRU gate, i.e., `self.conv_z`, `self.conv_r` and `self.conv_h`, so that there will be three different Xs for calculating these GRU gates and candidate hidden state.

I understand the X should be

[2022-03-14 13:31] josephenguehard opened #145 "GConvGRU hidden state not passed"
Hi! I have a similar question as #143: in the `GConvGRU` examples recurrent folder, the hidden state is not passed at all. Would that not harm performance as the hidden state is then always reset to zeros in the for loop?

[2022-03-14 13:53] benedekrozemberczki commented on #145
Yes it would, you can set the cell states between the epoch and the sequence iteration loop.

[2022-03-14 13:53] #145 closed

[2022-03-14 16:22] josephenguehard commented on #145
Thank you for your quick reply!

[2022-03-18 02:57] johnnytam100 opened #146 "Tutorial for creating custom dataset for multiple dynamic graphs?"
Hi Benedek!

I wonder if there is a tutorial for creating a custom dataset for multiple dynamic graphs?

I want to follow a code snippet so I can play around to learn how to do that.

Thanks in advance. :)

[2022-03-18 09:47] johnnytam100 commented on #146
ps More specifically, I want to perform temporal graph classification.

i.e. multiple temporal (dynamic) graphs with each associated with a label, and I want to ingest them into PyG temporal to classify each temporal graph.

[2022-03-23 01:27] benedekrozemberczki commented on #139
Dear @vishalmhjn,

You can have binary indicators added to your node feature matrix and replace missing values with zeros.

Could you star the repo?

Benedek

[2022-03-23 01:27] #139 closed

[2022-03-23 01:28] benedekrozemberczki commented on #144
Dear @jiayilong,

Yes you can do that. Can you star the repo?

Bests,

Benedek

[2022-03-23 01:28] #144 closed

[2022-03-23 01:28] benedekrozemberczki commented on #146
Dear @johnnytam100,

Did you manage to do this on your own?

Benedek

[2022-03-23 01:33] johnnytam100 commented on #146
Hi Benedek, hmm... I tried to understand how to do that but had no luck.
If you have an example code snippet on that, please let me know.
In the meantime, I will leave it behind or try to see if PyG alone works.
Thanks in advance.

[2022-03-23 01:35] benedekrozemberczki commented on #146
If you can donate the dataset I can create a tutorial using your dataset and task.

[2022-03-23 01:49] johnnytam100 commented on #146
Benedek, thank you so much for the offer!!!
Yes, I am 100% willing to donate the dataset.
Let me describe the dataset briefly:
I have ~700 graphs constructed from protein structures, and I will do molecular dynamics simulation on each graph.
Molecular dynamics simulation will generate many snapshots of the original graph (i.e. a time axis is now generated).
Therefore, I will have 700 dynamic graph

[2022-03-24 14:36] BaseMax commented on #141
Hi, I started this repository since it's really cool topic and I am working on. Any hope for guiding in this case? Thank you Benedek

[2022-03-27 22:16] benedekrozemberczki commented on #146
Can you share the dataset by e-mail and some pointers about the task?

[2022-03-28 11:04] johnnytam100 commented on #146
Hi @benedekrozemberczki , I have just sent you an email. Thanks again.

[2022-03-29 18:03] Guigo95 opened #149 "Deal with no features for some nodes at some time steps"
Hi,

Thank you very much for this great work!

I was wondering how to deal with a dynamic graph for which some nodes appear or disappear.
Let's say I have 3 nodes [0 1 2] and three time steps with these graphs:
t1 : 0 1-2
t2 : 0-1-2
t3 : 0-1 2
At t1, node 0 does not exist, i.e. I have no features. Same for node 2 at t3. In fact, I could fill in the features of node 0 at t0 with nan, as well as tho

[2022-03-29 19:22] Guigo95 commented on #149
in issue #139 you said 'You can have binary indicators added to your node feature matrix and replace missing values with zeros'. So you just add a new feature for each node filled with one when the node exists and 0 if not?

[2022-03-30 11:41] vishalmhjn commented on #149
This was also the intention in issue #139. I am not sure about this approach if in a given context for a specific feature "zero" means something else.

[2022-03-30 14:30] doGregor commented on #149
Hi,

I guess you should always use the same set of nodes in the same order for every graph you generate (even if some nodes are not present in different snapshots in reality), the shape of nodes stays the same. To avoid that non present nodes are considered during message passing in a specific snapshots, you set their complete feature vector to zero. During matrix multiplication they won't have an

[2022-03-31 07:21] Guigo95 commented on #149
Thanks @doGregor, I'll try it this way, but the issue raised by @vishalmhjn, can clearly be harmfull in some case !

[2022-03-31 19:55] #149 closed, assigned to nobody

[2022-04-02 13:42] GriffinBonner opened #151 "Custom Dataset Question"
I am trying to create a dataset which represents a static graph and temporal signal. I understand that the "Temporal Data Snapshots" are pytorch geometric "Data" objects, and I understand how to create them. However, I do not understand how to interface with the "Temporal Signal Iterators" ie., "StaticGraphTemporalSignal." Do I create a list of "Data" objects and then pass that to the "StaticGraph

[2022-04-04 18:25] rperera12 opened #152 "Case where edge_index varies for each batch"
Hi,
Great Library! I have a quick question regarding a case similar to the example from notebook: a3tgcn_for_traffic_forecasting.ipynb
In this example:

1) x.shape = [batch_size, num_nodes, num_nodes_features, timesteps],
2) edge_index.shape = [2, num_edges]

In other words, for all time-steps in the input and for all batches the graph's edges remains static/unchanged.
However, I am dealing with t

[2022-04-05 10:02] benedekrozemberczki commented on #152
Do you want to extend the generator classes?

[2022-04-05 13:19] rperera12 commented on #152
Thanks for your response!
On this example a3tgcn_for_traffic_forecasting.ipynb
the edge_index have dimensions [2,num_edges]. They don’t include batch size since the graph is static. I’d like to include different edge_index for each batch such that edge_index.shape = [batch, 2, num_edges]. The model used in this example does not handle batches. Please if there is a way you could include this model

[2022-04-05 13:23] benedekrozemberczki commented on #152
Even basic GCN batching operates differently; I recommend reading about
that first.

[2022-04-05 13:40] #152 closed

[2022-04-05 13:46] rperera12 opened #153 "The A3TGCN2 model in TemporalGNN does not handle varying edge_index for different batches?"
Hi,
I posted this question on an Issue recently, but the Issue was Closed without a response.
I am working with a case similar to the example from notebook: a3tgcn_for_traffic_forecasting.ipynb
In this example provided in this repo:

    x.shape = [batch_size, num_nodes, num_nodes_features, timesteps],
    edge_index.shape = [2, num_edges]

In other words, for all time-steps in the input and for a

[2022-04-05 13:49] benedekrozemberczki commented on #153
The issue was closed with a response. I recommend reading the documentation and looking at code.

[2022-04-05 13:49] #153 closed

[2022-04-05 13:56] rperera12 commented on #153
Is there a specific part of the code/documentation you recommend reading?
If you can point me in the right direction to allow edge_index to include batches dimension (edge_index.shape = [batches, 2, num_edges])  I'd really appreciate it.

[2022-04-05 14:01] benedekrozemberczki commented on #153
GNNs do not have edge indices where  [batches, 2, num_edges]. You have a batching index variable for segmentation. Look here: https://pytorch-geometric.readthedocs.io/en/latest/notes/introduction.html

[2022-04-06 13:08] trainma opened #155 "MultiVariate custom dataset Question"
How to load custom multivariate dateset？If every node feature is multivariate instead of only one feature in each timestamp.How to load it?

[2022-04-06 13:10] benedekrozemberczki commented on #155
The same way as you would load any other dataset.

[2022-04-06 13:10] #155 closed

[2022-04-12 19:00] skaudrey commented on #146
@benedekrozemberczki I'm also trying to create custom dataset on graph classification tasks, looking forward to be inspired by your tutorial.

[2022-04-12 19:47] benedekrozemberczki commented on #146
@skaudrey Do you have a dataset to share?

[2022-04-14 09:15] Adricu8 opened #156 "How to distribute the model to compute in multiple GPUs?"
I am trying to distribute the model computation in multiple GPUs using [DataParallel](https://pytorch-geometric.readthedocs.io/en/latest/modules/nn.html#module-torch_geometric.nn.data_parallel) from Pytorch Geometric library
I was trying to follow this [example](https://github.com/pyg-team/pytorch_geometric/blob/master/examples/multi_gpu/data_parallel.py)  but I am running into errors.
Is this the

[2022-04-14 15:55] polkadot21 opened #157 "Create a custom dataset"
Thanks for the package, I appreciate it a lot!
I have a question about how to create a custom dataset.

I went through the source code, e. g. `PedalMeDatasetLoader` uses a link to the `pedalme_london.json`  file:

`def __init__(self):
        self._read_web_data()

    def _read_web_data(self):
        url = "https://raw.githubusercontent.com/benedekrozemberczki/pytorch_geometric_temporal/master/d

[2022-04-16 15:38] SonghuaHu-UMD opened #158 "Any examples of MTGNN and GMAN based on traffic dataset like METRLA"
Hello!

Thanks for providing this amazing tool! I am trying to work with some models like MTGNN and GMAN. They seem to have complex inputs and parameters settings. And I always meet some errors when using them on traffic datasets like METRLA.

Is there any example of using MTGNN and GMAN based on traffic dataset like METRLA, just like the current examples in /notebooks/[a3tgcn_for_traffic_forecast

[2022-04-18 14:35] SherylHYX commented on #158
Hello Songhua,

Have you ever generated initial SE and TE for GMAN?

As for MTGNN, it is originally designed for data without a given graph structure, but simply multivariate time series.

Could you show what you have tried and what errors you have encountered?

Best,
Yixuan He (Sheryl)

[2022-04-18 14:38] SherylHYX commented on #141
The issue here is that the input feature dimension should be 8 instead of 4.

[2022-04-18 14:38] SherylHYX commented on #141
model = RecurrentGCN(node_features=8)

Hope this helps!

Best,
Yixuan He (Sheryl)

[2022-04-18 14:46] SherylHYX commented on #156
Could you show your example explicitly and what error messages you got? Perhaps have a look at this [tutorial](https://pytorch.org/tutorials/beginner/blitz/data_parallel_tutorial.html)?

[2022-04-18 14:50] SherylHYX commented on #157
The .json file is storing a dict in your example and you could do something similar.

[2022-04-18 15:12] polkadot21 commented on #157
Thank you for your response!
Let me reformulate my question. How can I create edges and weights given geospatial data (Latitude and Longitude) as I provided via the link above?

[2022-04-18 15:17] SherylHYX commented on #157
It seems to me that I do not have permission to access the file unfortunately.

However, based on your question: this depends on what you would like to act as nodes. For example, you could pick some locations as nodes and the inverse distance (or some form of similarity) between nodes as edge weights. Then you might end up with a complete graph, but then you could either set up a threshold for the

[2022-04-19 13:30] funbotan opened #159 "Extreme RAM consumption by multilayer models"
Hi Benedek! First of all, thank you for this project, I hope it has a bright future ahead.
My issue is with building deep/multi-layer models out of Recurrent Graph Convolutional Layers. There are no examples of it in the repo (or anywhere else on the internet as far as I searched), so I might be doing something wrong. [Here is my project.](https://gitlab.com/funbotan/transense-model-comparison/-/b

[2022-04-19 14:17] SherylHYX commented on #159
For another, during evaluation, you could use "with torch.no_grad()". See for example [here](https://datascience.stackexchange.com/questions/32651/what-is-the-use-of-torch-no-grad-in-pytorch).

[2022-04-19 15:17] SherylHYX commented on #159
You could see from [our paper](https://dl.acm.org/doi/abs/10.1145/3459637.3482014?casa_token=LNfOZAGLtuQAAAAA%3A36ll2iy90i5xq3W78PqiByF1zbMUpbYw4n7PtT4DYAxxWVFu7vK_2RINbW-TCtAcVTDgTNNLnLb8bQ) that for some input e.g. Wikipedia Math, using the incremental backprop regime actually does leads to better performance than the cumulative one. This is similar to using a mini-batch for SGD compared to usin

[2022-04-19 15:59] funbotan commented on #159
Well, this did solve the memory consumption problem. Training time has only marginally improved, though, due to the frequent backward passes. I'll try searching for a compromise later. Can't really compare the performance, because the previous configuration never even finished training.
Do you think this problem is inherent to GCNs or is it just an implementation issue?

[2022-04-19 16:03] SherylHYX commented on #159
Good that it helps! It is related to how you do backprop for temporal snapshots but not a GCN issue.
________________________________
From: Alexander Berezin ***@***.***>
Sent: Tuesday, April 19, 2022 11:59:24 PM
To: benedekrozemberczki/pytorch_geometric_temporal ***@***.***>
Cc: Yixuan He ***@***.***>; Comment ***@***.***>
Subject: Re: [benedekrozemberczki/pytorch_geometric_temporal] Extreme RAM

[2022-04-19 16:57] funbotan commented on #159
Alright, I'll close the issue for the time being, but very much hope that someone comes up with a better solution down the line. Thank you very much @SherylHYX

[2022-04-19 16:57] #159 closed

[2022-04-21 14:49] SherylHYX commented on #156
The issue seems to be that you are not putting your data and model on both GPU and CPU: "RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!" Could you try putting your data object on GPU also?

[2022-04-21 14:59] SherylHYX commented on #156
In the model definition, when doing calculation, you could map the data objects to the same device by e.g. "X = X.to(Y)"

[2022-04-21 18:55] rperera12 opened #161 "Model choice to handle edge_attr with multiple features"
Hello,
Thank you for creating this library, it is very helpful and straight forward to use.
I came across this question recently when using the A3TGCN model...
I have a graph with multiple edge attributes rather than a single edge attribute.
Is there a model available that can handle this case?
I have thought of using a linear layer to make num_edge_features ---> 1 [ e.g., nn.Linear(num_edge_featu

[2022-04-24 20:13] benedekrozemberczki commented on #161
Yes you could have similar models, it should work.

[2022-04-24 20:13] #161 closed

[2022-04-24 20:13] benedekrozemberczki commented on #161
@rperera12 could you star the repo?

[2022-04-24 20:13] #158 closed

[2022-04-24 20:14] #157 closed

[2022-04-24 20:14] #146 closed

[2022-04-24 20:14] #151 closed

[2022-04-24 20:14] #156 closed

[2022-04-26 12:51] Adricu8 commented on #156
I am still running into errors regarding this. It seems that the previous error was caused by sending a custom object to the model, instead of tensors. This is not supported by DataParallel as only the tensors can be split into their batch dimension.

Now then, after solving the previous error, there is another error triggered by pytorch geometric:

Caught IndexError in replica 0 on device 0.
Orig

[2022-04-27 09:35] hsuankai opened #162 "Can this library use mini-batch training?"
My situation is that I have a bunch of fixed structured graphs. e.g. X.shape = (320, 640, 4, 128) # samples x time x num_nodes x features, and their edges are same. I am wondering if I can do mini-batch training like batch size 32 and the shape of batch_X is (32, 640, 4, 128).
I've seen the documentation and example, but I think it is not implemented for those graph temporal layers. Did I miss som

[2022-04-29 13:13] renesass opened #163 "Predicting Path Failure via LRGCN"
Hey,

thank you very much for providing this nice framework.
I came across [Predicting Path Failure In Time-Evolving Graphs](https://arxiv.org/pdf/1905.03994.pdf) and wanted to use it within this framework (as it is cited in the docs).

However, looking at the example at LRGCN, I'm quite confused about the passed parameters and the dissimilarity to the [tensorflow implementation](https://github.co

[2022-05-02 10:11] DanielPerezJensen opened #164 "How do I batch my StaticHeteroGraphTemporalSignal?"
I see in the documentation there is a way to batch temporal signals, and specifically StaticHeteroGraphTemporalSignal datasets. In it, the parameters given all make sense to me, except for the parameter `batch_dict`. How to use/create this dictionary is unclear to me, and it doesn't seem to be explained in the documentation. Is this a PyTorch Geometric thing, or do you maybe have any guidance as t

[2022-05-02 10:18] DanielPerezJensen opened #165 "Missing documentation about introductory example PyTorch lightning"
On the [index page](https://pytorch-geometric-temporal.readthedocs.io/en/latest/index.html?highlight=lightning#pytorch-geometric-temporal-documentation) of this package, it is stated that:

"The package interfaces well with [Pytorch Lightning](https://pytorch-lightning.readthedocs.io/) which allows training on CPUs, single and multiple GPUs out-of-the-box. Take a look at this introductory example

[2022-05-02 10:33] DanielPerezJensen opened #166 "Moving HeteroGCLSTM to cuda device for GPU training"
I am trying to train a HeteroGCLSTM model using my GPU for faster training. However it seems that this is not possible when using the standard `.to` function in PyTorch. When I move my model and data to the gpu, as in this example:

[code]

I get the following error:

[code]

I can verify that the snapshot is indeed on the GPU, so it seems that the weight matrix `W_i[node_type]` is not on the GPU.

[2022-05-02 15:22] tliu1023 opened #167 "perform edge regression"
Hi,

I have a edge regression problem that the input is node feature X.shape = (N, Nx). The output is on the edge y.shape = (E, 1). For link prediction problem we can compute the inner product of node feature embedding H@H.T to predict the link existence. But I'm not sure how to perform a  link regression in a similar way. I'm wondering do we have some existing networks that perform link regressio

[2022-05-03 12:17] benedekrozemberczki commented on #167
Dear @tliu1023 ,

Thank for the question! Could you star the repo?

You could concatenate the node representations at the edge endpoints and pass it through a feed forward net trained jointly with the temporal GCN.

Bests,

Benedek

[2022-05-08 22:03] amorehead commented on #165
Hi, @DanielPerezJensen. It looks like this link may take you to the PyTorch Lightning tutorial you asked about: https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/examples/recurrent/lightning_example.py

[2022-05-10 16:22] doGregor commented on #166
Hi @DanielPerezJensen ,

you are right, currently you can't run the model (or easily transfer it) on a GPU. The only way to do it at the moment is moving all parameters to your GPU, e.g.:
[code]
You have to do it for all values in `W_i`, `b_i`, `W_f`, `b_f`, `W_c`, `b_c`, `W_o`, `b_o` as well as `h_dict` and `c_dict`.

Best,
Gregor

[2022-05-11 13:54] Adricu8 opened #168 "What is the benefit of using a GCN-based architecture with Chebyshev filter size K=1 ?"
To my knowledge, when the size of the Chebyshev filter = 1, there is no communication between the nodes. Therefore, the topology of the graph is not being used, and the adjacency matrix is essentially useless during the training.

If the aforementioned is correct, what is the point of using GCN based models with this kind of architecture and filter size = 1?
Most of the examples in this repository

[2022-05-14 01:27] eduardoftdo opened #169 "Combining multiple graph files into one StaticGraphTemporalSignal"
Hi everyone. I'm working on a project with hand landmark data similar to the one used in the [MTMDatasetLoader](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/torch_geometric_temporal/dataset/mtm.py).

However, I have multiple files where each file has graph representations over time, but only one target per file (differently from MTM where the target changes over ti

[2022-05-22 04:36] DrKleiber opened #170 "Tensor dimensionality mismatch in HeteroGCLSTM"
Hello,

I'm working on a node-level prediction problem using HeteroGCLSTM. I followed the METRLADatasetLoader as an example to creat my dataset.

My feature_dict is like this snapshot.x_dict['a'].size() = 11x5x50, dim 0 is num_nodes, dim 1 is num_features, dim 2 is time_steps.

When I use HeteroGCLSTM, I had the following error

`    i_dict = {node_type: torch.matmul(X, self.W_i[node_type]) for no

[2022-05-23 21:29] iakovts commented on #162
Hey, have you found any way to do that ? I've actually run into a similar problem, posted a question about that on stackoverflow [here](https://stackoverflow.com/questions/72337770/pyg-temporal-creating-datasets-from-small-synthetic-data).

[2022-05-25 11:05] doGregor commented on #170
Hi,

a snapshot is a graph at time t, so dimension 2 of your `x_dict` should not be in the feature set but represents the number of snapshots. So instead of your current `x_dict` you should have 50 snapshots where each has `x_dict['a'].size() = 11x5`.

Best,
Gregor

[2022-05-27 14:07] michelegentili93 opened #171 "Separate periods in periods_in and periods_out when defining the model TemporalGNN."
Hi, I've tried to have a prediction window longer then input window and the notebook doesn't work, i.e. num_timesteps_in=12< num_timesteps_out=14.
Because in  TemporalGNN you use `periods` for both the window of x and the window of the prediction (y).

I suggest this:

`
class TemporalGNN(torch.nn.Module):
    def __init__(self, node_features, periods_in,periods_pred, batch_size):
        super(Te

[2022-05-27 19:23] GoshtasbSh opened #172 "Problem in running"
Hello, When I want to run this I got this problem in iMac.

libc++abi: terminating with uncaught exception of type std::length_error: vector

I would be pleased if anyone can help me

[2022-06-03 13:06] #140 closed

[2022-06-03 13:06] #172 closed

[2022-06-03 13:06] #167 closed, assigned to nobody

[2022-06-03 13:06] #162 closed

[2022-06-03 13:06] #141 closed

[2022-06-03 14:03] GoshtasbSh commented on #172
Hello, It is very important to receive a response not closing this issue with our any response

[2022-06-13 11:43] MGermanos opened #173 "community detection using PyG temporal"
Hello!

Is it possible to perform community detection using this library?
I have a temporal dataset where the nodes have a binary feature, and this feature can flip from 0 to 1 at a given time and then flip back to 0. I want to figure out the clusters of nodes most likely to flip together.

So as a final model, I would like to input a node and get the set of nodes that will flip with it as output.

[2022-06-13 12:04] benedekrozemberczki commented on #173
Do you have labeled data?

[2022-06-13 12:29] MGermanos commented on #173
I do!
I have uploaded one example of the dataset [here](https://drive.google.com/file/d/1Bj8LfqyglEGdN63ohjCSkzJUpEdvJXfY/view?usp=sharing).
every line of the file shows which nodes flipped to 1 at this given time.

[2022-06-14 15:10] michelegentili93 opened #174 "mpnn_lstm what is actually window?"
Hi,

I've tried the Chickenpox example. I don't understand... the dataset is [n_nodes x window], where window is the number of observations in each node. In the documentations it's written:
 _window (int): Number of past samples included in the input._
However if in your example I just switch in_channels with window, i.e. MPNNLSTM(1, 32, 32, 20, 4, 0.5), then I get this error:
RuntimeError: view s

[2022-06-14 18:15] #174 closed

[2022-06-14 19:13] michelegentili93 commented on #174
Sorry to reopen... but it doesn't work with X having this dimensions: (n_nodes, n_features, window). If I run your example of MPNNLSTM and switch node features with window, even if I reshape the x, it doesn't work and I get this error:

[/usr/local/lib/python3.7/dist-packages/torch_geometric_temporal/nn/recurrent/mpnn_lstm.py] in forward(self, X, edge_index, edge_weight)
     80         R = list()

[2022-06-15 14:26] diningphil opened #175 "Suggestion: storing the downloaded dataset somewhere"
Hi,
I noticed that a dataset loader like the `ChickenpoxDatasetLoader` does not store the dataset on disk for faster, connection-less retrieval. This can create issues whenever one cannot temporarily access the Github repository where such files are saved. It would be a cool feature to have the dataset stored on disk in a similar fashion to Pytorch Geometric.

Thanks for the repo and best regards,

[2022-06-15 15:06] michelegentili93 opened #176 "issue window vs in_channels"
Sorry to reopen #174 ... but it doesn't work with X having this dimensions: (n_nodes, n_features, window). If I run your example of MPNNLSTM and switch node features with window, even if I reshape the x, it doesn't work and I get this error:

[/usr/local/lib/python3.7/dist-packages/torch_geometric_temporal/nn/recurrent/mpnn_lstm.py] in forward(self, X, edge_index, edge_weight)
80 R = list()
81
---

[2022-06-21 21:02] benedekrozemberczki commented on #175
Hi there,

I will look into this - currently I am a bit overwhelmed with other things :).

Bests,

Benedek

[2022-06-25 07:49] danielemingolla opened #177 "How use DCRNN for multivariate and multi-steps time series predicition?"
Hi guys, I was wondering if it would be possible to adapt the code at https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/examples/recurrent/dcrnn_example.py to make prediction (multisteps) of a multivariate time series for each node in the graph.
Do you have any suggestions for me or other models to recommend? Thank you.

[2022-06-26 16:52] benedekrozemberczki commented on #177
Have an N x 3 matrix target. Use a feature matrix that is N x (k x lags).

[2022-06-26 16:57] danielemingolla commented on #177
Hi thank you. Do you have any code as example?

On Sun, Jun 26, 2022, 18:53 Benedek Rozemberczki ***@***.***>
wrote:

[2022-06-26 16:59] benedekrozemberczki commented on #177
Do you have a dataset you could donate?

On Sun, 26 Jun 2022, 17:58 Daniele Mingolla, ***@***.***>
wrote:

[2022-06-26 17:13] danielemingolla commented on #177
Yes but I've artificially created it, data are not real.

On Sun, Jun 26, 2022, 18:59 Benedek Rozemberczki ***@***.***>
wrote:

[2022-06-27 06:32] benedekrozemberczki commented on #177
In that case I would close for now, if you can provide a real dataset I am happy to write a loader.

[2022-06-27 06:32] benedekrozemberczki commented on #175
Closing for now,

[2022-06-27 06:32] #175 closed

[2022-06-27 06:32] #165 closed

[2022-06-27 06:33] benedekrozemberczki commented on #164
You can use the diagonal batching method:

https://user-images.githubusercontent.com/7347296/34198790-eb5bec96-e56b-11e7-90d5-157800e042de.png

[2022-06-27 06:33] #164 closed

[2022-06-27 06:34] benedekrozemberczki commented on #169
https://user-images.githubusercontent.com/7347296/34198790-eb5bec96-e56b-11e7-90d5-157800e042de.png

[2022-06-27 06:34] #169 closed

[2022-06-27 06:34] #168 closed

[2022-06-27 06:34] benedekrozemberczki commented on #173
Closing for now until you have data.

[2022-06-27 06:34] #173 closed

[2022-06-27 06:35] #170 closed

[2022-06-27 06:35] #166 closed

[2022-06-30 12:24] Borzyszkowski opened #178 "Classification of a sequence of graphs"
Hello!

In my project, I work on motion classification and was wondering if _pytorch geometric temporal_ could be used for this application.
Namely, my dataset consists of a sequence of graphs such that each graph represents a hand pose, where joints are given as nodes and bones are given as edges. The graph is static with temporal signal (3 dynamic features in each of 21 nodes).

I implemented a

[2022-07-06 08:22] Meow10 opened #179 "Why does the A3T-GCN model's predicted curve never match the real curve?"
The code for A3TGCN:
[code]

On the dataset METR-LA, the predicted curve is smooth and very different from the real curve.
![result1](/../../../../Meow10/Meow10/blob/main/A9B177D0-30E2-40CD-A3AE-D71EDE7704F9.png)
After parameter tuning:
![result2](/../../../../Meow10/blob/main/46269192-FF68-4AC3-829D-C27C76E08D90.png)

[2022-07-08 08:01] Borzyszkowski commented on #178
I managed to run [ST-GCN](https://pytorch-geometric-temporal.readthedocs.io/en/latest/_modules/torch_geometric_temporal/nn/attention/stgcn.html#STConv) and [2s-AGCN](https://pytorch-geometric-temporal.readthedocs.io/en/latest/_modules/torch_geometric_temporal/nn/attention/tsagcn.html#AAGCN), according to the papers [[1](https://arxiv.org/pdf/1801.07455.pdf) and [2](https://arxiv.org/pdf/1805.07694

[2022-07-08 08:01] #178 closed

[2022-07-29 11:38] Tiantiansayhi commented on #171
Hello, I also want to change the period of input and output but don' t know how to do this. I see you suggestion, you just change the class TemporalGNN, i think may be the class A3TGCN also need to be change to achieve this goal.
By the way, did you slove this problem now?

[2022-08-01 11:10] jamesmyatt opened #183 "Pinned dependencies"
Out of interest, why are the following dependencies pinned? Could they be updated or at least a comment added?

[code]

In fact, I think there are lots of dependencies in `install_requires` that might be dependencies of dependencies. Can they be removed? https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/setup.py#L3

[2022-08-02 20:13] #183 closed

[2022-08-02 20:18] jamesmyatt commented on #183
Completed?

[2022-08-03 14:37] michelegentili93 commented on #171
Hi Melody, yes it is working for me :)

Il giorno ven 29 lug 2022 alle ore 07:39 Melody_tt ***@***.***>
ha scritto:

[2022-08-08 06:06] AndreaPi opened #184 "Which Recurrent Graph Convolution is preferable for regression problems?"
PyTorch Geometric Temporal supports a lot of Recurrent Graph Convolution layers. I have a static graph dataset, with ∼ 2000 timesteps and ∼ 500 nodes. Which Recurrent Graph Convolution should I try first? DCRNN, GConvGRU and GConvLSTM seem to be used in most of the examples. Which one would you try first?

[2022-08-08 07:38] Tiantiansayhi commented on #161
hello, Roberto, I also have a problem with multiple edge attributes which want to be solved by A3TGCN or other temporal GCN. Did you slove this problem, and what's the meaning of using a linear layer for it?  I am interested in it.

[2022-08-08 12:49] AndreaPi opened #185 "Adapt the Pytorch Lightning example to a GConvLSTM"
The [PyTorch Lightning example](https://github.com/benedekrozemberczki/pytorch_geometric_temporal/blob/master/examples/recurrent/lightning_example.py) uses a DCRNN, but I want to use a GConvLSTM. However, this layer doesn't return a single tensor, but three. How should I modify the `training_step` and the `validation_step` in order to be able to use a GConvLSTM?

[2022-08-18 05:44] BlueSkyLT opened #186 "TSAGCN test failed on GPU"
When running the test,
all tests passed except for

[code]

Similar to #46 , if I force it on CPU then it will pass
[code]

[2022-09-04 10:53] benedekrozemberczki commented on #186
I suppose there is a tensor that is not on GPU, can you guess which one?

[2022-09-05 06:48] idiot-max opened #193 "GRU"
Dear author, your DCRNN model uses GRU in the time dimension, but it seems that during the training process of the model, the Hidden state matrix is ​​0 in each time dimension. The Hidden state matrix of a time dimension is then input into the forward function of the model to implement feature propagation in the time dimension. In other words, your current forward function does not pass in the Hid

[2022-09-05 08:29] idiot-max commented on #193
For example, in A3TGCN, should the forward function be written like this
        if H is None:
            H = torch.zeros(X.shape[0], X.shape[1]).to(X.device)
        H_accum = 0
        probs = torch.nn.functional.softmax(self._attention, dim=0)
        for period in range(self.periods):
            H = self._base_tgcn(X[:, :, period], edge_index, edge_weight, H)
            H_accum = H_accum +

[2022-09-08 20:36] #193 closed

[2022-09-13 09:15] wubo2180 opened #194 "About dataset storage"
Hi, can I download the data set locally when the data is loaded, so that I can use the data set without networking next time

[2022-09-13 19:49] benedekrozemberczki commented on #194
Do you want to open a PR and implement this?

[2022-09-13 19:49] #194 closed

[2022-09-14 04:22] Gaurangkarwande opened #195 "Edge weights or attention weights of trained model"
Hello is there any way I can retrieve the edge weights of a `StaticGraphTemporalSignal` model after it has been trained. This is similar to the working of `return_attention_weights()` method of some of the pytorch geometric models?

[2022-09-14 07:59] benedekrozemberczki commented on #195
No, but you are free to open a PR

[2022-09-15 20:40] #195 closed

[2022-09-28 04:12] joshi98kishan opened #196 "Can I use this library for multivariate forecasting?"
I can see that most of the models take graph as input, except the MTGNN model which can learn the graph from multivariate time series.

Are there any other models like MTGNN which can learn the graph on its own and also returns the forecasts?

[2022-09-29 00:07] benedekrozemberczki commented on #196
Yes, you can have vector, matrix and tensor valued targets.

[2022-09-29 00:07] #196 closed

[2022-10-11 09:03] benedekrozemberczki commented on #152
Yes, again different edge sets should not be a problem, you can exploit the
edge weights or something else for batching.

On Tue, 5 Apr 2022 at 14:30, Roberto Perera Aguiar ***@***.***>
wrote:

[2022-10-23 16:22] jakubMitura14 opened #197 "dynamic node generation"
Hello I have a model where I start from a single node - image and I want to progressively add nodes and edges, and in the end, evaluate the graph using the custom loss function. The features size will get progressively smaller and the node number bigger.
I suppose in principle it should be possible in your framework, however, the decision to create a new node and a new connection is binary hence n

[2022-10-23 21:01] benedekrozemberczki commented on #197
Sorry, I do not understand the question. Could you be more specific?

[2022-10-24 19:17] jakubMitura14 commented on #197
1) Your library If I understand it correctly make it possible to learn the process of dynamically add nodes and links to the graph
2) in order for the process to be learnable in a typical sense all functions needs to be differentiable
3) adding a node or link is a discrete process that is not differentiable
I just ask how you managed that 1,2,3 ara all true :D, or I do not understand something cor

[2022-11-13 08:37] Sebastianyang666 opened #200 "I find an error in "Twitter Tennis RG" datasets processing step."
In eassy the dataset of "Twiiter Tennis RG and UO" are belong to **Dynamic Graph Static Signal**,but they are **Dynamic Graph Temporal Signal** in codes and office web pages.Can you check it again.If just change the Sinal Processing Step,codes can't run successfully.

[2022-11-20 17:12] benedekrozemberczki commented on #200
Do you want to Pull Request it?

[2022-11-21 06:21] ferencberes commented on #200
I'll look into it this week.

Benedek Rozemberczki ***@***.***> ezt írta (időpont: 2022.
nov. 20., Vas 18:13):

[2022-11-23 16:00] LaurentBerder opened #201 "How to format `edge_indices` for DynamicGraphTemporalSignalBatch?"
Hi,

I'm trying to implement a model for a Dynamic Spatio-Temporal Graph, which therefore does not have the same amount of edges for each timestamps.

Therefore, though I'm able to create tensors of regular dimensions for edge_weights, features and targets, I can't for edge_indices, and I fall back to having a list of lists.

Here are the dimensions that I have:

- `features`: 403 * 10 * 54 * 2 (n

[2022-11-23 18:45] benedekrozemberczki commented on #201
Based on this I cannot tell.

[2022-11-23 18:45] #201 closed

[2022-11-24 07:41] LaurentBerder commented on #201
Thanks @benedekrozemberczki.

That's a bummer. But the `DynamicGraphTemporalSignalBatch` class is designed for this kind of structure, right?

What kind of extra details could I provide so that you can have a better idea of it?

Or maybe you could tell me what kind of shape `DynamicGraphTemporalSignalBatch` expects for `edge_indices` of a graph that doesn't always have the same amount of edges (th

[2022-11-25 11:20] ferencberes commented on #200
Dear @Sebastianyang666,

Thank you for spotting this error in the paper. "Twitter Tennis RG and UO" are indeed marked as Dynamic Graph Static Signal datasets in the paper but due to the underlying nature of these Twitter datasets, the signal is also dynamic as it represents the number of mentions received by a given node (Twitter account) for the next snapshot. So to the best of my knowledge the i

[2022-11-26 21:29] benedekrozemberczki commented on #200
Thanks @ferencberes, closing for now!

[2022-11-26 21:29] #200 closed

[2022-11-27 07:58] Sebastianyang666 commented on #200
Thanks@ferencberes. I see.
However, if I keep using the current source code “classTwitterTennisDatasetLoader(event_id='rg17', N=None, feature_mode='encoded', target_offset=1)”, it cannot reproduce the results of “Twitter Tennis RG” presented
in Table 5 (https://arxiv.org/abs/2104.07788) (because the results were obtained based on the setting that Twitter
Tennis RG is Static signal and dynamic Grap

[2022-11-27 07:59] Sebastianyang666 commented on #200
Thanks@ferencberes. I see.
However, if I keep using the current source code “classTwitterTennisDatasetLoader(event_id='rg17', N=None, feature_mode='encoded', target_offset=1)”, it cannot reproduce the results of “Twitter Tennis RG” presented
in Table 5 (https://arxiv.org/abs/2104.07788) (because the results were obtained based on the setting that Twitter
Tennis RG is Static signal and dynamic Grap

[2022-11-27 08:00] Sebastianyang666 commented on #200
@

Thanks @ferencberes . I see.
However, if I keep using the current source code “classTwitterTennisDatasetLoader(event_id='rg17', N=None, feature_mode='encoded', target_offset=1)”, it cannot reproduce the results of “Twitter Tennis RG” presented
in Table 5 (https://arxiv.org/abs/2104.07788) (because the results were obtained based on the setting that Twitter
Tennis RG is Static signal and dynamic